.footer {
	background: #fcfcfc !important;
	border-top: solid #f4f4f4 9px;
	padding: 0 !important;
	&__content {
		padding-top: 75px;
		padding-bottom: 50px;
		padding-right: 30px;
		display: flex;
		@include respond(992) {
			flex-direction: column;
			padding-bottom: 0;
		}
	}
	&__logo-box {
		margin-right: auto;
		display:flex;
		align-items:center;
		&__superscript {
			margin-bottom: 30px;
			@include respond(640) {
				margin-bottom: 10px;
				text-align: left;
			}
		}
		@include respond(1400) {
			flex-wrap:wrap;
		}
		@include respond(992) {
			margin-bottom: 60px;
			p {
				text-align: center;
			}
		}
		@include respond(640) {
			margin-right: 0;
		}
	}
	.left {
		@include respond(1400) {
			width:80%;
			margin-bottom:15px;
		}
		@include respond(992) {
			width:unset;
			margin-right:30px;
		}
		@include respond(500) {
			width:100%;
			margin-right:unset;
		}
		.superscript {
			margin-bottom: 35px;
		}
		.logo {
			width: 335px;
			display: block;
			@include respond(1200) {
				width: 300px;
			}
			@include respond(640) {
				width: 100%;
			}
		}
	}
	.outline-button {
		font-size:16px;
		margin-left:30px;
	}
	&__navigation {
		margin-right: 170px;
		display: flex;
		align-self: flex-end;
		@include respond(1200) {
			margin-right: 60px;
		}
		@include respond(992) {
			margin-bottom: 3rem;
			margin-right: 0;
			align-self: unset;
		}
		@include respond(500) {
			flex-wrap: wrap;
			padding-left: 30px;
			justify-content: space-between;
		}
	}
	&__menu {
		&:not(:last-child) {
			margin-right: 60px;
		}
		@include respond(640) {
			&:not(:last-child) {
				margin-right: 35px;
			}
		}
		@include respond(500) {
			margin-bottom: 30px;
			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}
	&__menu-title {
		font-size: 22px;
		margin-bottom: 30px;
		font-weight: 700;
		@include respond(640) {
			margin-bottom: 10px;
		}
	}
	&__link-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__list-item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	&__link {
		&:link,
		&:visited {
			color: $color-grey;
			transition: all ease .3s;
		}
		&:hover {
			color: $color-orange;
			border-bottom: solid 1px $color-orange;
		}
	}
	&__social {
		@include respond(992) {
			margin-left: auto;
			margin-right: auto;
			transform: translateY(50%);
		}
		.c-social-links__item {
			display: block;
			margin-right: 0;
			@include respond(992) {
				display: inline-block;
				&:not(:last-child) {
					margin-right: 16px;
				}
			}
		}
	}

	&__copyright {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		padding-bottom: 30px;
		color: white;
		background: url(../images/pattern.png) repeat, #0069a7;
		background-size: 300px 300px;
		p {
			color: inherit;
			font-size: inherit;
		}
		//RESPONSIVE
		@include respond(992) {
			padding-top: 60px;
		}
		@include respond(640) {
			p {
				font-size: 14px;
			}
		}

		@include respond(500) {
			display: block;
			p {
				text-align: center;
				font-size: 18px;
				&:first-child {
					margin-bottom: 5px;
				}
			}
		}
	}
}
