.header {
	&__promo {
		background: $background-white;
		padding-top: 18px;
		padding-bottom: 18px;
		text-align: right;
		@include respond(992) {
			display: none;
		}
	}
	&__promo-link {
		display: flex;
		align-items: center;
		font-size: 18px;
		&:before {
			display: block;
			transform: rotate(180deg);
			font-size: 10px;
			margin-right: 10px;
		}
	}
	&__promo-text {
		font-size: 15px;
	}
	&__container {
		padding-top: 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include respond(992) {
			position: relative;
			z-index: 11;
			background: white;
			padding-bottom: 30px;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				background: white;
				z-index: 10;
			}
		}
		@include respond(640) {
			padding-bottom: 0;
		}
	}
	&__logo {
		width: 100%;
		max-width: 330px;
		@include respond(1500) {
			max-width: 250px;
		}
		@include respond(1200) {
			max-width: 190px;
		}
		@include respond(992) {
			z-index: 11;
			max-width: 300px;
		}
		@include respond(500) {
			max-width: 200px;
		}
	}
	&__links {
		display: flex;
		align-items: center;

		&.active {
			top: 0;
			overflow-y: scroll;
		}
		.outline-button{
			font-family: "Gotham A", "Gotham B" !important;
		}
		@include respond(1500) {
			.outline-button {
				padding: 10px;
			}
		}
		@include respond(1200) {
			margin-left: auto;
		}
		@include respond(992) {
			position: absolute;
			top: -1900px;
			left: 0;
			width: 100%;
			height: 100vh;
			background: $background-white;
			z-index: 9;
			transition: all ease .3s;
			padding: 150px 10% 110px;
			flex-direction: column;
			align-items: unset;
			.outline-button {
				text-align: center;
			}
		}
		@include respond(640) {
			padding-top: 120px;
		}
	}
	.outline-button {
		margin-left:30px;
		font-size:16px;
		@include respond(992) {
			margin-left:0;
			margin-top:30px;
		}
	}
	&__navigation {
		//margin-right: 30px;

		@include respond(1200) {
			flex-wrap: wrap;
			margin-right: 10px;
		}
		@include respond(992) {
			margin: 0;
		}

		//NOT BEM BECAUSE OF WORDPRESS MENU SYSTEM
		.menu {
			margin: 0;
			padding: 0;
			list-style: none;
			@include respond(992) {
				margin-bottom: 60px;
			}
			@include respond(640) {
				margin-bottom: 30px;
			}
			.menu-item {
				display: inline;
				font-family: "Tisa Sans Pro", sans-serif;
				font-size: 16px;
				font-weight: 600;
				padding-bottom: 5px;
				position: relative;
				color: $color-grey;
				margin: 0 25px;
				&:before {
					content: '';
					position: absolute;
					width: 0%;
					transform-origin: center;
					transition: all ease .3s;
					background: $color-orange;
					bottom: 0;
					left: 50%;
					height: 2px;
					transform: translate(-50%);
				}
				&:hover:before {
					width: 100%;
				}
				@include respond(1700) {
					margin: 0 15px;
				}
				@include respond(1500) {
					margin: 0 7px;
				}
				@include respond(1200) {
					margin: 0 5px;
				}
				@include respond(992) {
					display: block;
					margin: 0;
					&:not(:last-child) {
						margin-bottom: 10px;
					}
					&:before {
						content: unset;
					}
				}
				a {
					&:link,
					&:visited {
						color: $color-grey;
						transition: all ease .3s;
						font-family: "Gotham A", "Gotham B";
					}
					&:hover {
						color: $color-orange;
					}
					@include respond(992) {
						font-size: 40px;
					}
					@include respond(500) {
						font-size: 25px;
					}
				}
			}
		}
	}
	&__hamburger {
		border: none;
		background: none;
		display: none;
		&:before,
		&:after {
			display: block;
			background: $color-orange;
			width: 40px;
			content: '';
			height: 6px;
			transition: all ease .3s;
		}
		&.active {
			&:before,
			&:after {
				opacity: 0;
			}
		}
		@include respond(992) {
			display: block;
			position: relative;
			z-index: 11;
		}
	}
	&__hamburger-bar {
		width: 40px;
		background: $color-orange;
		height: 6px;
		margin: 8px 0;
		display: block;
		position: relative;
		transform-origin: center;
		transition: all ease .3s;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform-origin: center;
			transition: all ease .3s;
			background: $color-orange;
		}
	}
	&__hamburger.active &__hamburger-bar {
		@include respond(992) {
			height: 4px;
			transform: rotate(45deg);
			&:before {
				height: 4px;
				transform: rotate(-90deg);
			}
		}
	}
}
