main.blog {
    padding-top: 140px;
    padding-bottom: 166px;

    @include respond(992) {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &.gpad12 {
        padding-left: 12%;
        padding-right: 12%;

        @include respond(992) {
            padding-left: 5%;
            padding-right: 5%;
        }

        @include respond(768) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    section {
        &.s1-blog {
            padding-bottom: 150px;
        }

        &.s2-blog {
            padding-bottom: 155px;

            @include respond(992) {
                padding-bottom: 100px;
            }

            ul {
                list-style: none;
            }

            .button-container {
                text-align: center;

                a {
                    cursor: pointer;
                }
            }
        }

        &.s3-blog {

            .logo,
            h2,
            .button-container {
                text-align: center;
            }

            .logo {
                margin-bottom: 15px;
            }

            h2 {
                margin-bottom: 65px;

                &:after {
                    left: 50%;
                    transform: translate(-50%);
                }
            }
        }
    }

}