section.s1-contact {
	display: flex;
	padding: 120px 7%;
	background: #fff;
	z-index: 5;

	@include respond(992) {
		flex-wrap: wrap;
		padding: 120px 60px;
	}

	@include respond(640) {
		padding: 120px 30px;
	}

	label {
		font-weight: 700;
		margin-bottom: 15px;

		span {}
	}

	input,
	textarea {
		padding: 18px;
		border: 2px solid #C6C6C6;
		font-weight: 400;
		margin-top: 5px;
		border-radius: unset;
	}

	input[type=submit] {
		background: unset;
		width: 260px;
		text-align: center;
		border: 2px solid #D2451E;
		color: #D2451E;
		transition: all 0.3s ease;

		&:hover {
			background: #D2451E;
			color: #fff;
		}
	}

	.contact-info {
		position: relative;
		margin-top: 120px;
		margin-left: 75px;

		@include respond(992) {
			display: none;
			margin-left: 0px;
			margin-top: 60px;
		}

		&.mobile {
			display: none;

			@include respond(992) {
				display: block;
			}
		}

		p {
			font-weight: 700;
			font-size: 18px;
			color: $color-grey-text;
			line-height: 1;
			position: relative;
			padding-left: 30px;
			margin-bottom: 15px;

			span {
				display: block;
				padding-top: 5px;
			}

			&:before {
				position: absolute;
				left: 0;
				top: 0;
			}

			a {
				color: inherit;
			}
		}
	}

	.left {
		@include respond(992) {
			width: 100%;
		}

		.text {
			@include respond(992) {
				margin-bottom: 60px;
			}
		}


		.heading-with-circle__heading-subtext {
			&:after {
				bottom: -70px;

				@include respond(992) {
					bottom: -30px;
				}
			}
		}

	}

	.right {
		width: 32%;
		margin-left: 100px;

		@include respond(1700) {
			width: 40%;
		}

		@include respond(1500) {
			width: 50%;
			margin-left: 30px;
		}

		@include respond(992) {
			width: 100%;
			margin: 0;
		}

		input,
		label,
		textarea {
			width: 100%;

			&:focus {
				outline: solid 1px $color-orange;
			}
		}

		input[type=submit] {
			width: 260px;
		}
	}
}