main.faq {
    .gpad12 {
        padding-left: 12%;
        padding-right: 12%;

        @include respond(500) {
            padding-left: 7.5%;
            padding-right: 7.5%;
        }
    }

    section.s1-faq {
        padding-top: 160px;
        padding-bottom: 150px;

        @include respond(992) {
            padding-top: 120px;
        }

        @include respond(500) {
            padding-top: 90px;
            padding-bottom: 90px;
        }

    }

    section.s2-faq {
        padding-bottom: 140px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 40px;
                cursor: pointer;

                p.title {
                    border-bottom: solid #717171 1px;
                    transition: all ease .3s;
                    position: relative;

                    &:before {
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        font-size: 20px;
                        transform: translateY(-50%) rotate(90deg);
                        transition: all ease .3s;
                    }

                    &.active {
                        color: #0069A7;
                        border-bottom: none;

                        &:before {
                            transform: translateY(-50%) rotate(90deg) scale(-1, 1);
                        }
                    }

                    @include respond(992) {
                        padding-bottom: 15px;
                        padding-right: 30px;
                    }

                    @include respond(500) {
                        padding-right: 50px;
                    }
                }

                .answer {
                    padding-top: 40px;
                    width: 90%;
                    display: none;

                    @include respond(768) {
                        width: 100%;
                    }
                }

                &:hover p.title {
                    color: #0069A7;
                }
            }
        }
    }

    section.s3-faq {
        padding-bottom: 185px;
    }
}