main.home {
	font-family: "Gotham A", "Gotham B";
}

section.s1-home {
	padding-top: 90px;
	padding-bottom: 90px;
	display: flex;
	justify-content: space-between;

	@include respond(1200) {
		padding-top: 30px;
	}

	@include respond(992) {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	@include respond(640) {
		padding-top: 45px;
	}

	.left {
		@include respond(1200) {
			margin-right: 30px;
		}

		@include respond(992) {
			width: 100%;
			padding: 0 30px;
			margin-right: 0;
			margin-bottom: 60px;
		}

		h1 {
			margin-bottom: 15px;
		}

		p {
			display: flex;
			align-items: center;

			&:before {
				font-family: 'MidSouth';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\004c';
				border-radius: 100%;
				display: inline-block;
				margin-right: 5px;
				font-size: inherit;
				color: #ff6b00;
			}

			@include respond(500) {
				font-size: 22px;
			}
		}
	}

	.right {
		width: 60%;

		@include respond(1500) {
			width: 60%;
		}

		@include respond(992) {
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}

section.s2-home {
	padding-top: 60px;
	padding-bottom: 60px;
	background: url(../images/pattern.png) repeat, #0069a7;
	background-size: 300px 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;

	@include respond(1700) {
		align-items: unset;
		flex-direction: column;
	}

	.left {
		width: 25%;
		display: flex;
		align-items: center;
		max-width: 350px;

		@include respond(1700) {
			width: 100%;
			max-width: 330px;
		}

		p {
			color: white;

			span {
				font-weight: 700;
				display: block;
			}
		}
	}

	.right {
		width: 70%;
		max-width: 1213px;

		@include respond(1700) {
			width: 100%;
		}

		form {
			@include respond(1700) {
				margin: 0 -10px;
			}
		}

		.section {
			padding: unset;

			.custom-container {
				width: unset;
				max-width: 100%;
				padding: unset;
				margin: unset;

				.columns {
					margin: unset;
					align-items: flex-end;

					.column.is-5 {
						flex: unset;
					}

					.column.is-1 {
						width: 100%;
						padding: .75rem 0;
						padding-bottom: 0;

						input {
							width: 100%;
						}
					}

					input,
					select {
						border-radius: 0;
						-webkit-appearance: none;
						border: 1px solid #e0e0e0;
						font-size: 15px;
						padding: 25px 20px;
						color: #707070;
					}

					span.select {
						height: unset;

						select {
							padding: unset;
							height: 52px;
							padding: 0 20px;
						}
					}

					input[type=submit] {
						background-color: unset !important;
						color: #fff;
						font-weight: 700;
						padding: unset;
						height: 52px;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					label {
						font-size: 15px;
						color: white;
					}
				}

				.custom-form {
					display: flex;
					align-items: flex-end;

					@include respond(992) {
						display: block;
					}

					.custom-address,
					.custom-type {
						width: 370px;
						padding: 0 10px;

						@include respond(992) {
							padding: 10px 0;
							width: 100%;
						}

						label {
							color: white !important;
						}
					}

					.custom-unit,
					.custom-zip {
						width: 150px;
						padding: 0 10px;

						@include respond(992) {
							padding: 10px 0;
							width: 100%;
						}
					}

					.custom-button {
						@include respond(992) {
							margin-top: 10px;
						}

						@include respond(500) {
							width: 100%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

section.s3-home {
	padding-top: 200px;
	padding-bottom: 200px;

	@include respond(640) {
		padding-top: 60px;
		padding-bottom: 100px;
	}

	.s3-header {
		margin-bottom: 60px;
		max-width: 920px;

		@include respond(1500) {
			max-width: 700px;
		}

		@include respond(640) {
			margin-bottom: 100px;
		}
	}

	.services {
		display: flex;
		margin: 0 -10px;
		margin-bottom: 270px;

		@include respond(992) {
			flex-direction: column;
			margin-left: 0;
			margin-right: 0;
		}

		@include respond(640) {
			margin-bottom: 140px;
		}

		.service {
			width: 33.3333%;
			padding: 0 10px;
			display: flex;
			flex-direction: column;

			@include respond(992) {
				width: 100%;
				padding: 0;
				margin-bottom: 60px;
			}

			.img-cover {
				padding-bottom: 62%;
				margin-bottom: 25px;
			}

			h3 {
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 50px;
			}

			.bottom {
				margin-top: auto;

				@include respond(992) {
					text-align: center;
				}

				.outline-button {
					display: inline-block;

					@include respond(1500) {
						text-align: center;
						width: 100%;
					}

					@include respond(992) {
						width: unset;
					}

					@include respond(500) {
						width: 100%;
					}
				}
			}
		}
	}

	.packages-and-bundles {
		display: flex;
		align-items: center;
		margin-bottom: 200px;

		@include respond(992) {
			flex-direction: column;
			align-items: unset;
			margin-bottom: 100px;
		}

		h2 {
			text-transform: unset;
			margin-bottom:30px;

			span {
				display: block;

				&:last-child {
					font-weight: 700;
				}
			}
		}

		p {
			max-width: 500px;

			@include respond(992) {
				max-width: unset;
			}
		}

		.left {
			margin-right: 200px;
			position: relative;

			@include respond(1700) {
				margin-right: 50px;
			}

			@include respond(992) {
				margin-bottom: 60px;
				margin-right: 0;
			}

			@include respond(640) {
				margin-right: 0;
			}

			h2 {
				position: relative;
				z-index: 1;
			}
		}

		.right {
			flex: 1;

			@include respond(992) {
				padding-left: 20px;
			}
		}
	}

	.checklist {
		display: flex;

		@include respond(1200) {
			flex-direction: column;
		}

		.left {
			width: 56%;

			@include respond(1700) {
				width: 50%;
			}

			@include respond(1200) {
				width: 100%;
			}

			.img-cover {
				padding-bottom: 59%;
			}

			.button-container {
				text-align: right;

				@include respond(1200) {
					display: none;
				}
			}
		}

		.right {
			background: #fcfcfc;
			padding: 135px 64px;
			margin-top: 75px;

			@include respond(1700) {
				padding-left: 60px;
				padding-right: 60px;
			}

			@include respond(1200) {
				margin: 0;
				padding: 60px;
			}

			@include respond(640) {
				padding: 60px 17px;
			}

			ul {
				li {
					font-size: 28px;
					margin-bottom: 35px;
					display: flex;
					align-items: flex-start;

					&:last-child {
						margin-bottom: 0;
					}

					&:before {
						font-family: 'MidSouth';
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						content: '\004c';
						border-radius: 100%;
						display: inline-block;
						margin-right: 16px;
						font-size: inherit;
						color: #ff6b00;
						padding: 4px;

						@include respond(640) {
							position: absolute;
							left: 0;
							top: 2px;
						}

						@include respond(500) {
							margin-right: 5px;
						}
					}

					@include respond(1500) {
						font-size: 20px;
					}

					@include respond(640) {
						font-size: 18px;
						position: relative;
						padding-left: 40px;
					}

					@include respond(500) {
						font-size: 18px;
						padding-left: 30px;
					}
				}
			}
		}
	}

	.mobile {
		display: none;

		@include respond(1200) {
			display: block;
			text-align: center;
			transform: translateY(30px);
		}

		@include respond(500) {
			transform: unset;
		}

		.solid-button {
			@include respond(500) {
				width: 100%;
				padding: 40px 10px;
			}
		}
	}
}

section.s4-home {
	background: #fcfcfc;
	padding-top: 140px;
	padding-bottom: 140px;
	border-top: solid 9px #f4f4f4;
	border-bottom: solid 9px #f4f4f4;

	@include respond(640) {
		padding-top: 100px;
		padding-bottom: 80px;
	}

	.-content {
		display: flex;
		margin-bottom: 80px;

		@include respond(768) {
			flex-direction: column;
		}

		.left {
			flex: 1;
			position: relative;

			@include respond(1500) {
				margin-right: 60px;
			}

			@include respond(768) {
				width: 100%;
				margin-bottom: 30px;
			}

			h2 {
				max-width: 387px;
				margin-bottom: 30px;
				line-height: 1;
				text-transform: unset;

				span {
					display: block;
					line-height: 1;

					&:last-child {
						font-weight: 700;
					}
				}
			}
		}

		.right {
			display: flex;
			align-items: center;

			@include respond(1700) {
				align-items: flex-start;
				flex-direction: column;
			}

			@include respond(768) {
				width: 100%;
				padding-left: 20px;
			}

			p {
				max-width: 536px;
				margin-right: 85px;

				@include respond(1700) {
					margin-bottom: 30px;
				}

				@include respond(1500) {
					margin-right: 0;
				}
			}

			a {
				@include respond(500) {
					display: none;
				}
			}
		}

		.button-container {
			display: none;

			@include respond(500) {
				width: 100%;
				display: block;
			}
		}
	}

	.photo-row-1x2 {
		margin-bottom: 140px;

		@include respond(640) {
			margin-bottom: 50px;
		}
	}

	.compare {
		h2 {
			max-width: 574px;
			margin-bottom: 100px;

			@include respond(1500) {
				max-width: 420px;
			}

			@include respond(640) {
				margin-bottom: 60px;
			}

			@include respond(500) {
				max-width: 300px;
			}
		}

		.options {
			display: flex;
			margin-bottom: 100px;

			@include respond(1200) {
				flex-direction: column;
			}

			@include respond(500) {
				margin-bottom: 50px;
			}

			p {
				font-weight: 600;

				&.options-list-header {
					margin-bottom: 15px;
				}
			}

			ul {
				margin: 0 -7px;

				@include respond(1500) {
					margin: 0;
				}

				@include respond(640) {
					display: flex;
					margin: 0 -3px;
				}

				li {
					display: inline-block;
					margin: 0 7px;
					padding: 20px 40px;
					border: solid 2px #c6c6c6;
					color: #c6c6c6;
					min-width: 230px;
					font-size: 35px;
					transition: all ease .3s;
					text-align: center;
					cursor: pointer;

					span {
						font-size: 16px;
						font-weight: 600;
						margin-left: 5px;
					}

					&.active {
						color: #d2451e;
						border: solid 2px #d2451e;
					}

					@include respond(1500) {
						text-align: center;
						min-width: 175px;
						padding: 10px;
						margin: 0;
					}
				}
			}

			.left {
				margin-right: 70px;

				@include respond(1500) {
					margin-right: auto;
				}

				@include respond(1200) {
					margin-bottom: 60px;
				}

				@include respond(500) {
					margin-right: 0;
					margin-bottom: 30px;
				}

				ul li {
					@include respond(640) {
						display: block;
						width: 50%;
						margin: 0 3px;
						font-size: 25px;
					}

					@include respond(500) {
						min-width: unset;
					}
				}
			}

			.right {
				ul li {
					@include respond(640) {
						display: block;
						min-width: unset;
						width: 33.3333%;
						margin: 0 3px;
						font-size: 25px;
					}
				}
			}
		}

		.charts {
			display: flex;

			@include respond(1500) {
				flex-wrap: wrap;
			}
		}
	}
}

section.s5-home {
	display: flex;
	padding-top: 200px;
	padding-bottom: 200px;
	justify-content: space-between;

	@include respond(992) {
		flex-direction: column;
	}

	@include respond(640) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.c-news-update,
	.right {
		width: 45%;

		@include respond(992) {
			width: 100%;
		}
	}

	.c-news-update {
		@include respond(992) {
			margin-bottom: 80px;
		}
	}

	.right {
		.social {
			margin-top: 70px;
			padding-left: 85px;

			@include respond(992) {
				padding-left: 0;
			}

			.c-social-links__item:not(:last-child) {
				margin-right: 16px;
			}
		}
	}
}