section.s1-services {
	padding-top: 90px;
	padding-bottom: 90px;
	@include respond(500) {
		padding-left: 0;
		padding-right: 0;
		padding-top: 60px;
	}
	div.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 90px;
		@include respond(1200) {
			flex-direction: column;
		}
		@include respond(500) {
			padding-left: 20px;
			padding-right: 20px;
			margin: 0;
		}
		div.left {
			width: 50%;
			font-weight: unset;
			@include respond(1200) {
				width: 100%;
				margin-bottom: 30px;
			}
			h1 {
				span {
					display: block;
				}
				@include respond(768) {
					font-size: 60px;
				}
				@include respond(500) {
					font-size: 46px;
				}
			}
		}
		div.right {
			width: 35%;
			@include respond(1700) {
				width: 40%;
			}
			@include respond(1200) {
				width: 100%;
			}
			@include respond(500) {
				margin-bottom: 40px;
			}
		}
	}
	div.bottom {
		div.img-cover {
			padding-bottom: 44%;
			@include respond(500) {
				padding-bottom: 55%;
			}
		}
	}
}
section.s2-services {
	padding-top: 190px;
	@include respond(1700) {
		padding-top: 150px;
	}
	@include respond(500) {
		padding-top: 30px;
	}
	div.top {
		margin-bottom: 65px;
		position: relative;
		@include respond(500) {
			margin-bottom: 30px;
		}
		.heading-with-circle__heading {
			@include respond(400) {
				font-size: 25px;
			}
		}
	}
	div.bottom {
		display: flex;
		justify-content: space-between;
		padding: 0 3.5%;
		@include respond(992) {
			flex-direction: column;
		}
		@include respond(500) {
			padding: 0;
		}
		div.left {
			width: 65%;
			@include respond(1700) {
				width: 65%;
			}
			@include respond(1500) {
				width: 50%;
			}
			@include respond(992) {
				width: 100%;
				margin-bottom: 30px;
			}
			div.img-cover {
				padding-bottom: 59%;
				@include respond(1700) {
					padding-bottom: 80%;
				}
				@include respond(1500) {
					padding-bottom: 104%;
				}
				@include respond(992) {
					padding-bottom: 59%;
				}
			}
		}
		div.right {
			width: 25%;
			@include respond(1700) {
				width: 30%;
			}
			@include respond(1500) {
				width: 40%;
			}
			@include respond(992) {
				width: 100%;
			}
			div.feature {
				margin-bottom: 60px;
				@include respond(992) {
					margin-left: 60px;
				}
				@include respond(640) {
					margin-left: 35px;
				}
				@include respond(500) {
					margin-left: 0;
				}
				&:last-child {
					margin-bottom: none;
				}
				h3 {
					display: flex;
					align-items: center;
					@include respond(500) {
						font-size: 20px;
						margin-left: 35px;
					}
					&:before {
						font-family: 'MidSouth';
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						border: solid 2px #ff6b00;
						content: '\0042';
						border-radius: 100%;
						width: 26px;
						height: 26px;
						display: inline-block;
						font-size: 11px;
						font-weight: 700;
						color: #ff6b00;
						padding: 6px;
						position: absolute;
						left: -10%;
						@include respond(500) {
							left: -35px;
						}
					}
				}
			}
		}
	}
}
section.s3-services {
	padding-top: 190px;
	padding-bottom: 90px;
	@include respond(1700) {
		padding-top: 150px;
	}
	@include respond(500) {
		padding: 150px 20px 90px;
	}
	div.top {
		margin-bottom: 65px;
		position: relative;
		.heading-with-circle__heading {
			@include respond(400) {
				font-size: 25px;
			}
		}
	}
	div.bottom {
		display: flex;
		justify-content: space-between;
		@include respond(768) {
			flex-direction: column;
		}
		div.feature {
			flex: 1;
			display: flex;
			flex-direction: column;
			min-height: 750px;
			padding: 2.5% 5%;
			border: 1px solid rgba(113, 113, 113, .35);
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			@include respond(1700) {
				padding: 2.5%;
			}
			@include respond(768) {
				margin: 0 0 15px;
				padding: 10% 15%;
				min-height: 700px;
			}
			@include respond(640) {
				padding: 10% 5%;
			}
			@include respond(500) {
				min-height: unset;
			}
			div.top-section {
				h3.b35u {
					margin-bottom: 60px;
					font-weight: 700;
					text-align: center;
					&:after {
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				p.r20 {
					color: #505050;
					text-align: center;
				}
				div.price {
					text-align: center;
					p.b75 {
						text-transform: none;
						color: #505050;
					}
				}
				div.gray_line {
					content: "";
					background: rgba(113, 113, 113, .35);
					height: 1px;
					width: 100%;
					margin: 60px 0 30px 0;
				}
			}
			div.bottom-section {
				display: flex;
				flex: 1;
				flex-direction: column;
				div.description {
					padding-left: 5%;
					p {
						position: relative;
						&:before {
							content: "";
							background: #ff6b00;
							height: 4px;
							width: 4px;
							border-radius: 100%;
							position: absolute;
							left: -10px;
							top: 7px;
						}
					}
				}
				a.outline-button {
					margin-top: auto;
					width: 100%;
					text-align: center;
					@include respond(500) {
						padding: 20px 1%;
						margin-top: 30px;
					}
				}
			}
		}
	}
}
section.s4-services {
	padding: 140px 0;
	@include respond(500) {
		padding-top: 0;
	}
}
section.s5-services {
	display: flex;
	justify-content: space-between;
	padding-bottom: 140px;
	padding: 0 13% 140px;
	@include respond(1200) {
		padding: 0 7% 140px;
	}
	@include respond(992) {
		flex-direction: column;
	}
	@include respond(640) {
		padding: 0 30px 140px;
	}

	.c-have-question {
		width: 26%;
		margin-right: 30px;
		@include respond(1700) {
			width: 35%;
		}
		@include respond(1500) {
			width: 40%;
		}
		@include respond(992) {
			width: 100%;
			margin-bottom: 90px;
		}
	}
	.c-faq-section {
		width: 60%;
		@include respond(992) {
			width: 100%;
		}
	}
}
