main.post {
    padding-top: 77px;
    padding-bottom: 144px;

    section.back {
        padding: 0 5%;

        @include respond(1200) {
            padding-bottom: 100px;
        }

        a {
            color: $color-orange;
            display: flex;
            align-items: center;
            line-height: 1;

            &:before {
                transform: rotate(180deg);
                margin-right: 10px;
            }
        }
    }

    section.post {
        padding: 0 17%;
        padding-top: 75px;

        @include respond(1200) {
            padding: 0 10%;
        }

        @include respond(768) {
            padding: 0 60px;
        }

        @include respond(500) {
            padding: 0 30px;
        }

        .heading-with-circle {
            padding-left: 0;

            @include respond(992) {
                padding-left: 40px;
            }

            @include respond(640) {
                padding-left: 0px;
            }

            &__heading {
                text-transform: unset;

                @include respond(640) {
                    font-size: 40px;
                }
            }

            &__circle-container {
                left: -70px;

                @include respond(992) {
                    left: -30px;
                }

                @include respond(640) {
                    left: -45px;
                }

                @include respond(500) {
                    left: -33px;
                }
            }
        }

        .the-date {
            &:after {
                bottom: -70px;

                @include respond(992) {
                    left: 40px;
                }

                @include respond(640) {
                    left: 0px;
                }
            }

            @include respond(992) {
                padding-left: 40px;
            }

            @include respond(640) {
                padding-left: 0;
            }
        }

        .content {
            margin-top: 130px;
            padding-bottom: 80px;
            border-bottom: solid #717171 1px;

            p {
                line-height: 2;
            }
        }

        .post-nav {
            padding-top: 30px;
            display: flex;

            a {
                display: flex;
                align-items: center;
                line-height: 1;
                color: $color-orange;
                transition: all ease .3s;

                &.prev-post {
                    &:before {
                        transform-origin: center;
                        transform: rotate(180deg);
                        margin-right: 10px;
                    }

                }

                &.next-post {
                    flex-direction: row-reverse;
                    margin-left: auto;

                    &:before {
                        margin-left: 10px;
                    }
                }

                &:hover {
                    color: darken($color-orange, 10%);
                }
            }
        }
    }
}