section.s1-streaming {
	padding-top: 90px;
	padding-bottom: 90px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	.b130 {
		font-size:110px;
		@include respond(1700) {
			font-size: 100px;
		}

		@include respond(1500) {
			font-size: 85px;
		}

		@include respond(1300) {
			font-size: 75px;
		}

		@include respond(600) {
			font-size: 65px;
		}

		@include respond(400) {
			font-size: 55px;
		}
	}

	@include respond(1200) {
		padding-top: 30px;
	}

	@include respond(992) {
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	@include respond(640) {
		padding-top: 45px;
	}

	.left {
		width:40%;

		@include respond(1500) {
			width: 50%;
		}

		@include respond(1200) {
			margin-right: 30px;
		}

		@include respond(992) {
			width: 100%;
			padding: 0 30px;
			margin-right: 0;
			margin-bottom: 60px;
		}

		h1 {
			margin-bottom: 15px;
		}

		p {
			display: flex;
			align-items: center;

			&:before {
				font-family: 'MidSouth';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\004c';
				border-radius: 100%;
				display: inline-block;
				margin-right: 5px;
				font-size: inherit;
				color: #ff6b00;
			}

			@include respond(500) {
				font-size: 22px;
			}
		}
	}

	.right {
		width: 50%;

		@include respond(992) {
			width: 100%;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
}
section.s2-streaming {
	background:url(../images/pattern.png) repeat, #0069a7;
	background-size:300px 300px;
	padding:60px 12%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	@include respond(1200) {
		padding:60px 5%;
	}
	@include respond(900) {
		flex-wrap:wrap;
	}
	h2 {
		color:#fff;
		font-size:50px;
		font-weight:700;
		margin:0;
		@include respond(900) {
			font-size:40px;
			margin-bottom:30px;
		}
	}
	.outline-button {
		color:#fff;
	}
	.left {
		width:70%;
		@include respond(900) {
			width:100%;
		}
	}
	.right {
		//width:30%;
		@include respond(900) {
			width:100%;
			text-align:center;
		}
	}
}
section.s3-streaming {
	padding:130px 12%;
	@include respond(1200) {
		padding:130px 5%;
	}
	h3 {
		margin-bottom:80px;
	}
	.packages {
		display:flex;
		justify-content:space-between;
		@include respond(750) {
			flex-wrap:wrap;
		}
		.left, .right {
			width:45%;
			@include respond(750) {
				width:100%;
			}
			img {
				margin-bottom:40px;
			}
			h3 {
				font-size:30px;
				font-weight:700;
				margin:0 0 15px;
			}
			.outline-button {
				font-size:18px;
				align-self:baseline;
				&.mobile {
					display:none;
					@include respond(1100) {
						display:inline-block;
						margin-top:30px;
					}
				}
				&.not-mobile {
					@include respond(1100) {
						display:none;
					}
				}
			}
			.flexo {
				display:flex;
				justify-content:space-between;
				margin-bottom:10px;
				.text {
					width:calc(100% - 250px);
					@include respond(1100) {
						width:100%;
					}
				}
			}
			.left-channels {
				display:flex;
				justify-content:space-between;
				@include respond(1100) {
					flex-wrap:wrap;
				}
				.additional-info {
					width:60%;
					@include respond(1100) {
						width:100%;
						margin-bottom:15px;
					}
				}
				p {
					margin-bottom:0;
				}
				ul {
					padding-left:14px;
					display:flex;
					flex-wrap:wrap;
					li {
						width:50%;
					}
				}
			}
			.right-channels {
				p {
					margin-bottom:0;
				}
				ul {
					padding-left:14px;
					display:flex;
					flex-wrap:wrap;
					li {
						width:33.33%;
						@include respond(1100) {
							width:50%;
						}
					}
				}
			}
		}
		.right {
			@include respond(750) {
				margin-top:60px;
			}
		}
	}
}
section.s4-streaming {
	padding:0 12% 100px;
	@include respond(1200) {
		padding:0 5% 100px;
	}
	h3 {
		margin-bottom:80px;
	}
	.addons {
		display:flex;
		justify-content:space-between;
		@include respond(850) {
			flex-wrap:wrap;
		}
		p {
			max-width:500px;
		}
		.left {
			@include respond(850) {
				margin-bottom:30px;
			}
		}
		.middle {
			@include respond(850) {
				margin-bottom:30px;
			}
		}
		.right {
			ul {
				display:flex;
				flex-wrap:wrap;
				li {
					width:50%;
				}
			}
		}
		.left, .right, .middle {
			width:30%;
			@include respond(850) {
				width:100%;
			}
			h3 {
				font-size:30px;
				font-weight:700;
				margin:0 0 15px;
			}
			ul {
				padding-left:30px;
			}
		}
	}
}
section.s5-streaming {
	padding:0 12% 105px;
	@include respond(1200) {
		padding:0 5% 100px;
	}
	.box {
		border:1px solid #505050;
		padding:60px;
		display:flex;
		justify-content:space-between;
		@include respond(750) {
			flex-wrap:wrap;
			padding:30px;
		}
		h3 {
			font-size:40px;
			font-weight:700;
			margin:0;
			max-width:520px;
		}
		.solid-button {
			background:#0069A7;
			color:#fff;
			font-size:18px;
			padding:16px 0;
			width:197px;
			text-align:center;
		}
		.left {
			@include respond(750) {
				width:100%;
				margin-bottom:30px;
			}
			.mobile {
				display:none;
				@include respond(1450) {
					display:block;
					margin-top:15px;
				}
			}
		}
		.right {
			@include respond(750) {
				width:100%;
				//margin-bottom:30px;
				text-align:center;
			}
			display:flex;
			align-items:center;
			.solid-button {
				@include respond(750) {
					margin:0 auto;
				}
			}
			.not-mobile {
				max-width:300px;
				@include respond(1450) {
					display:none;
				}
			}
		}
	}
}

section.s1-channels {
	background:url(../images/pattern.png) repeat, #0069a7;
	background-size:300px 300px;
	text-align:center;
	padding:130px 5%;
	margin-top:35px;
	h1 {
		color:#fff;
		font-size:110px;
		font-weight:700;
		margin:0 0 15px;
		@include respond(1100) {
			font-size:80px;
		}
		@include respond(800) {
			font-size:60px;
		}
	}
	p {
		color:#fff;
		font-size:25px;
		margin:0;
		@include respond(1100) {
			font-size:20px;
		}
	}
}
section.s2-channels {
	padding:50px 12%;
	@include respond(1450) {
		padding:50px 5%;
	}
	div.facet {
		display:none !important;
	}
	.packages {
		display:flex;
		justify-content:space-between;
		margin-bottom:50px;
		@include respond(750) {
			flex-wrap:wrap;
		}
		.local, .expanded, .addon {
			width:33.33%;
			padding-left:38px;
			position:relative;
			@include respond(1200) {
				width:30%;
			}
			@include respond(750) {
				width:100%;
				margin-bottom:30px;
			}
			h3 {
				font-size:30px;
				margin:0 0 15px;
				font-weight:700;
				@include respond(1200) {
					font-size:25px;
				}
			}
			p {
				font-size:18px;
				margin:0;
				max-width:410px;
				@include respond(750) {
					max-width:100%;
				}
			}
			&:before {
				content:"";
				width:21px;
				height:21px;
				border-radius:50%;
				position:absolute;
				left:0;
				top:6px;
			}
		}
		.local:before {
			background:#D2451E;
		}
		.expanded:before {
			background:#0069A7;
		}
		.addon:before {
			background:#00A887;
		}
	}
	.channels {
		.channel-header {
			background:#F4F4F4;
			box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.15);
			display:flex;
			align-items:center;
			position:relative;
			p {
				font-size:16px;
				margin:0;
			}
			.name {
				width:45%;
				padding:10px 20px;
				@include respond(650) {
					width:55%;
				}
				@include respond(550) {
					width:45%;
				}
			}
			.number {	
				width:30%;
				padding:10px 20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				@include respond(550) {
					display:none;
				}
			}
			.type {
				width:30%;
				padding:10px 20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				display:none;
				@include respond(650) {
					display:none;
				}
			}
			.package {
				width:25%;
				padding:10px 20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				@include respond(550) {
					background-image:unset;
					width:unset;
					position:absolute;
					right:0;
					top:50%;
					transform:translateY(-50%);
				}
			}
		}
		.channel {
			display:flex;
			border-top:1px solid #F4F4F4;
			position:relative;
			@include respond(550) {
				flex-wrap:wrap;
				padding:20px 0;
			}
			&:first-child {
				border-top:unset;
			}
			p {
				margin:0;
				font-size:20px;
				color:#505050;
				@include respond(1450) {
					font-size:18px;
				}
				@include respond(550) {
					font-size:16px;
				}
			}
			.name {
				width:45%;
				padding:20px;
				display:flex;
				align-items:center;
				@include respond(650) {
					width:55%;
				}
				@include respond(550) {
					width:100%;
					padding:0 20px;
				}
			}
			.number {	
				width:30%;
				padding:20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				display:flex;
				align-items:center;
				@include respond(550) {
					width:100%;
					padding:0 20px;
					background-image:unset;
				}
			}
			.type {
				width:30%;
				padding:20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				display:flex;
				align-items:center;
				display:none;
				@include respond(650) {
					display:none;
				}
			}
			.package {
				width:25%;
				padding:20px;
				background-image: linear-gradient(to bottom, #505050 20%, rgba(255, 255, 255, 0) 0%);
				background-position: left;
				background-size: 1px 7px;
				background-repeat: repeat-y;
				position:relative;
				padding-left:50px;
				display:flex;
				align-items:center;
				@include respond(550) {
					width:unset;
					position:absolute;
					right:0;
					top:50%;
					transform:translateY(-50%);
					background-image:unset;
					//padding:0 20px;
				}
				&:before {
					content:"";
					position:absolute;
					width:20px;
					height:20px;
					border-radius:50%;
					left:20px;
					top:50%;
					transform:translateY(-50%);
				}
				&.Add-On:before {
					background:#00A887;
				}
				&.Expanded:before {
					background:#0069A7;
				}
				&.Local:before {
					background:#D2451E;
				}
			}
		}
	}
	.button-container {
		margin:30px 0;
		display:flex;
		justify-content:center;
		.outline-button {
			cursor:pointer;
		}
	}
}
section.s3-channels {
	background:url(../images/pattern.png) repeat, #0069a7;
	background-size:300px 300px;
	padding:60px 12%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	@include respond(1450) {
		padding:60px 5%;
	}
	@include respond(800) {
		flex-wrap:wrap;
	}
	h3 {
		font-size:40px;
		font-weight:700;
		margin:0;
		max-width:520px;
		color:#fff;
	}
	.solid-button {
		background:#0069A7;
		color:#fff;
		font-size:18px;
		padding:16px 0;
		width:197px;
		text-align:center;
	}
	.left {
		@include respond(800) {
			width:100%;
			margin-bottom:30px;
		}
	}
	.right {
		display:flex;
		align-items:center;
		@include respond(800) {
			width:100%;
		}
		p {
			max-width:300px;
			color:#fff;
			@include respond(1100) {
				display:none;
			}
		}
		.outline-button {
			color:#fff;
			@include respond(800) {
				margin:0 auto;
			}
		}
	}
}