a {
	text-decoration: none;
	color: #505050;
	&.outline-button {
		padding: 20px 40px;
		background: white;
		transition: all ease .3s;
		display: inline-block;
		font-size: 20px;
		@include respond(1500) {
			padding: 20px;
		}
		@include respond(1200) {
			font-size: 16px;
		}
		&.-orange {
			border: solid 2px #d2451e;
			color: #d2451e;
		}
		&:hover {
			&.-orange {
				color: white;
				background: #d2451e;
			}
		}
	}
	&.solid-button {
		padding: 40px 40px;
		transition: all ease .3s;
		display: inline-block;
		font-size: 20px;
		@include respond(1200) {
			font-size: 16px;
		}
		&.-blue {
			background: url(../images/pattern.png) repeat, #0069a7;
			background-size: 300px 300px;
			color: white;
		}
		&:hover {
			&.-blue {
				color: white;
				background: url(../images/pattern.png) repeat, darken(#0069a7, 10%);
				background-size: 300px 300px;
			}
		}
	}
}

.outline-button {
	background: white;
	transition: all ease .3s;
	display: inline-block;
	font-size: 20px;
	&.-blue {
		background: transparent;
		border: solid 1px white;
		input {
			background-color: transparent;
			padding: 0 40px;
			color: white;
			border: none;
		}
	}
}
