.chart {
	width: 25%;
	display: flex;
	align-items: center;
	@include respond(1200) {
		width: 50%;
		margin-bottom: 30px;
	}
	@include respond(640) {
		display: block;
	}

	&__graph {
		position: relative;
		margin-right: 20px;
		@include respond(1500) {
			margin-right: 10px;
		}
		@include respond(768) {
			margin-right: 10px;
		}
		@include respond(640) {
			text-align: center;
		}
	}
	&__svg {
		width: 200px;
		height: 200px;
		transform: rotate(45deg);
		@include respond(1700) {
			width: 145px;
			height: 145px;
		}
		@include respond(1500) {
			width: 115px;
			height: 115px;
		}
		@include respond(500) {
			width: 100px;
			height: 100px;
		}
	}

	&__circle-tag {
		animation-name: circle-chart-fill;
		animation-direction: reverse;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		transform: rotate(-90deg) scale(1, -1);
		transform-origin: center;
	}
	&__icon {
		@include centerItem;
		&:before {
			font-size: 70px;
			color: #c6c6c6;
			@include respond(1500) {
				font-size: 40px;
			}
			@include respond(500) {
				font-size: 50px;
			}
		}
	}
	&__text {
		@include respond(768) {
			text-align: center;
		}
	}
}
