.facts-slider {
	border: solid $color-grey-light 1px;
	padding: 100px 64px 100px 84px;
	position: relative;
	@include respond(1500) {
		padding: 80px 40px;
	}
	@include respond(640) {
		padding: 40px;
	}
	@include respond(500) {
		padding: 80px 30px 160px;
	}
	&__logo {
		position: absolute;
		height: 35px;
		width: 35px;
		top: -17px;
		left: 100px;
		z-index: 1;
		@include respond(640) {
			left: 30px;
		}
	}
	&__header {
		margin-bottom: 60px;
	}
	&__nav-buttons {
		position: absolute;
		right: 96px;
		display: flex;
		top: 100px;
		@include respond(1500) {
			position: unset;
			margin-bottom: 30px;
		}
		@include respond(992) {
			position: absolute;
			margin-bottom: 0;
			top: 80px;
		}
		@include respond(640) {
			top: 30px;
			right: 30px;
		}
		@include respond(500) {
			top: unset;
			bottom: 40px;
			right: unset;
			left: 30px;
		}
	}
	&__nav-button {
		width: 60px;
		height: 60px;
		display: flex;
		border: solid 1px $color-orange;
		margin: 4px;
		align-items: center;
		cursor: pointer;
		transition: all ease .3s;
		&:before {
			margin: auto;
			color: $color-orange;
			font-size: 20px;
			transition: all ease .3s;
		}
		&:first-child:before {
			transform: rotate(180deg);
		}
		&:hover {
			background: $color-orange;
			&:before {
				color: white;
			}
		}
	}
	&__slide {
		h3 {
			margin-bottom: 30px;
		}
		p {
			line-height: 1.7;
		}
	}
}
