// FOUND AT THE BOTTOM OF THE PAGE ON SERVIECS PAGES (BUSINESS AND RESIDENTIAL).
.c-faq-section {
	&__header {
		font-weight: 700;
		margin-bottom: 70px;
		&:after {
			bottom: 0;
		}
		@include respond(640) {
			margin-bottom: 30px;
		}
	}
	&__container {
		margin-bottom: 60px;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&__question {
		padding-bottom: 25px;
		border-bottom: solid 1px $color-grey-light;
		margin-bottom: 45px;
		cursor: pointer;
	}
	&__question-title {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;
		padding: 0;
		margin: 0;
		font-size: 18px;
		font-weight: 700;
		&:before {
			font-size: 18px;
			margin-left: auto;
			padding-left: 30px;
		}
	}
	&__question-answer {
		display: none;
		margin-top: 20px;
	}

	&__btn-container {
		.outline-button {
			@include respond(640) {
				width: 100%;
				text-align: center;
			}
		}
	}
}
