.c-have-question {
	position: relative;
	&__header {
		margin-bottom: 70px;
		&:after {
			bottom: 0;
		}
		@include respond(992) {
			margin-left: 40px;
		}
		@include respond(640) {
			margin-bottom: 50px;
			margin-left: 30px;
		}
		@include respond(400) {
			margin-left: 25px;
		}
	}
	&__logo {
		position: absolute;
		height: 35px;
		width: 35px;
		top: 0;
		left: -50px;
		z-index: 1;
		@include respond(992) {
			left: 0;
		}
		@include respond(640) {
			height: 22px;
			width: 22px;
		}
	}
	&__subtitle {
		margin-bottom: 60px;
		max-width: 370px;
		a {
			font-weight: 700;
		}
		@include respond(640) {
			margin-left: 30px;
			margin-bottom: 40px;
		}
		@include respond(400) {
			margin-left: 20px;
		}
	}
	&__btn-container {
		.outline-button {
			@include respond(640) {
				width: 100%;
				text-align: center;
			}
		}
	}
}
