.heading-with-circle {
	position: relative;
	padding-left: 75px;

	@include respond(992) {
		padding-left: 64px;
	}

	@include respond(640) {
		padding-left: 22px;
	}

	&__heading {
		text-transform: unset;
		span {
			display: block;
			font-weight: 700;
		}
	}

	&__heading-subtext {
		font-size: 28px;

		@include respond(500) {
			margin-top: 15px;
			font-size: 22px;
		}
	}

	&__circle-container {
		position: absolute;
		top: -70px;
		left: 0;
		z-index: 0;
		transform: rotate(90deg);

		@include respond(992) {
			top: -60px;
		}

		@include respond(640) {
			left: -30px;
			top: -40px;
		}

		@include respond(500) {
			left: -20px;
		}
	}

	&__svg {
		height: 145px;
		width: 145px;

		@include respond(992) {
			height: 115px;
			width: 115px;
		}

		@include respond(640) {
			width: 85px;
			height: 85px;
		}

		@include respond(500) {
			width: 65px;
			height: 65px;
		}
	}

	&__circle {
		stroke-dasharray: 0 100;

		&.animate {
			-webkit-stroke-dasharray: 75 100;
			-webkit-animation: circle-chart-fill 1s linear reverse forwards;
			stroke-dasharray: 75 100;
			animation: circle-chart-fill 1s linear reverse forwards;
			
		}
	}
}