//As seen on the FAQ page at the bottom.
.logo-text-btn-block {
	&__logo {
		text-align: center;
		margin-bottom: 15px;

		img {
			display: inline-block;
		}
	}

	&__heading {
		text-align: center;
		margin-bottom: 60px;

		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__text {
		margin: 0 auto 60px;
		text-align: center;
		max-width: 800px;

		a {
			font-weight: 700;
		}
	}

	&__btn-container {
		text-align: center;

		.outline-button {

			@include respond(500) {
				width: 100%;
			}
		}
	}
}