.c-news-update {
	&__header {
		margin-bottom: 70px;
	}

	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 50px;
	}

	&__list-item {
		border-bottom: solid 1px $color-grey-light;
		padding-bottom: 20px;
		position: relative;
		max-width: 1370px;
		margin-bottom: 25px;
	}

	&__item-date {
		margin-bottom: 15px;
	}

	&__item-title {
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		transition: all ease .3s;
		font-weight: 700;
		font-size: 18px !important;

		&:before {
			margin-left: auto;
			margin-right: 30px;
			font-size: 18px;
		}
	}

	&__list-item:hover &__item-title {
		color: $color-orange;
	}
}