.photo-row-1x2 {
	display: flex;
	@include respond(640) {
		flex-direction: column;
	}

	&__photo {
		width: 50%;
		@include respond(640) {
			width: 100%;
		}
	}
	&__image-container {
		position: relative;
		padding-bottom: 58%;
	}
}
