.c-social-links {
	list-style: none;
	&__item {
		display: inline-block;
		margin-right: 16px;
	}
	&__link {
		width: 40px;
		height: 40px;
		background: $color-orange;
		border-radius: 100%;
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		transition: all ease .3s;
		&:before {
			color: white;
			margin: auto;
			font-size: 18px;
		}
		&:hover {
			background: $color-orange-light;
		}
	}
}
