@mixin centerItem{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {
	$breakpointEM: ($breakpoint / 16) *1em;
	@if $breakpointEM > 2000 {
		@media (max-width: $breakpointEM) {
			@content;
		}
	} @else {
		@media (max-width: $breakpointEM) {
			@content;
		}
	}
}
