section.s1-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 120px 7%;
  background: #fff;
  z-index: 5; }
  section.s1-contact h1.anim {
    font-size: 75px;
    margin: 0;
    font-weight: 700;
    background: #fff;
    position: relative;
    z-index: 2;
    margin-bottom: 30px; }
    section.s1-contact h1.anim:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      z-index: -1; }
    section.s1-contact h1.anim .number {
      width: 145px;
      height: 145px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: -65px;
      top: -45px;
      z-index: -2;
      -webkit-transform: rotate(260deg);
      -ms-transform: rotate(260deg);
      transform: rotate(260deg); }
  section.s1-contact label {
    font-weight: 700;
    margin-bottom: 15px; }
    section.s1-contact label span {
      color: #D2451E; }
  section.s1-contact input, section.s1-contact textarea {
    padding: 18px;
    border: 2px solid #C6C6C6;
    font-weight: 400;
    margin-top: 5px;
    border-radius: unset; }
  section.s1-contact input[type=submit] {
    background: unset;
    width: 260px;
    text-align: center;
    border: 2px solid #D2451E;
    color: #D2451E;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    section.s1-contact input[type=submit]:hover {
      background: #D2451E;
      color: #fff; }
  section.s1-contact .contact-info {
    position: relative;
    margin-top: 75px;
    padding-top: 50px; }
    section.s1-contact .contact-info:before {
      content: "";
      width: 75px;
      height: 5px;
      background: #FF6B00;
      position: absolute;
      left: 0;
      top: 0; }
  section.s1-contact .right {
    width: 40%; }
    section.s1-contact .right input {
      width: 100%; }
