h1, h2, h3 {
  margin: 0;
  padding: 0; }

section.s1-services {
  padding-top: 90px;
  padding-bottom: 90px; }
  section.s1-services div.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px; }
    section.s1-services div.top div.left {
      width: 50%;
      font-weight: unset; }
    section.s1-services div.top div.right {
      width: 35%; }
  section.s1-services div.bottom div.img-cover {
    padding-bottom: 44%; }

section.s2-services {
  padding-top: 190px; }
  section.s2-services div.top {
    margin-bottom: 65px;
    padding-left: 87px;
    position: relative; }
    section.s2-services div.top h2 {
      text-transform: unset;
      position: relative;
      z-index: 1; }
    section.s2-services div.top .header-circle {
      position: absolute;
      top: -70px;
      left: 5px;
      z-index: 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  section.s2-services div.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3.5%; }
    section.s2-services div.bottom div.left {
      width: 65%; }
      section.s2-services div.bottom div.left div.img-cover {
        padding-bottom: 59%; }
    section.s2-services div.bottom div.right {
      width: 25%; }
      section.s2-services div.bottom div.right div.feature {
        margin-bottom: 60px; }
        section.s2-services div.bottom div.right div.feature:last-child {
          margin-bottom: none; }
        section.s2-services div.bottom div.right div.feature h3 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          section.s2-services div.bottom div.right div.feature h3:before {
            font-family: 'MidSouth';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: solid 2px #FF6B00;
            content: '\0042';
            border-radius: 100%;
            width: 26px;
            height: 26px;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            color: #FF6B00;
            padding: 6px;
            position: absolute;
            left: -10%; }

section.s3-services {
  padding-top: 190px;
  padding-bottom: 90px; }
  section.s3-services div.top {
    margin-bottom: 65px;
    padding-left: 87px;
    position: relative; }
    section.s3-services div.top h2 {
      position: relative;
      text-transform: unset;
      z-index: 1; }
    section.s3-services div.top .header-circle {
      position: absolute;
      top: -70px;
      left: 5px;
      z-index: 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  section.s3-services div.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    section.s3-services div.bottom div.feature {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 750px;
      padding: 2.5% 5%;
      border: 1px solid rgba(113, 113, 113, 0.35);
      margin-right: 15px; }
      section.s3-services div.bottom div.feature:last-child {
        margin-right: 0; }
      section.s3-services div.bottom div.feature div.top-section h3.b35u {
        margin-bottom: 60px;
        font-weight: 700;
        text-align: center; }
        section.s3-services div.bottom div.feature div.top-section h3.b35u:after {
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
      section.s3-services div.bottom div.feature div.top-section p.r20 {
        color: #505050;
        text-align: center; }
      section.s3-services div.bottom div.feature div.top-section div.price {
        text-align: center; }
        section.s3-services div.bottom div.feature div.top-section div.price p.b75 {
          text-transform: none;
          color: #505050; }
      section.s3-services div.bottom div.feature div.top-section div.gray_line {
        content: "";
        background: rgba(113, 113, 113, 0.35);
        height: 1px;
        width: 100%;
        margin: 60px 0 30px 0; }
      section.s3-services div.bottom div.feature div.bottom-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        section.s3-services div.bottom div.feature div.bottom-section div.description {
          padding-left: 5%; }
          section.s3-services div.bottom div.feature div.bottom-section div.description p {
            position: relative; }
            section.s3-services div.bottom div.feature div.bottom-section div.description p:before {
              content: "";
              background: #FF6B00;
              height: 4px;
              width: 4px;
              border-radius: 100%;
              position: absolute;
              left: -10px;
              top: 7px; }
        section.s3-services div.bottom div.feature div.bottom-section a.outline-button {
          margin-top: auto;
          width: 100%;
          text-align: center; }

section.s4-services {
  padding: 140px 0; }
  section.s4-services div.photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    section.s4-services div.photos div.left, section.s4-services div.photos div.right {
      width: 50%; }
      section.s4-services div.photos div.left div.img-cover, section.s4-services div.photos div.right div.img-cover {
        padding-bottom: 58%; }

section.s5-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 10% 140px; }
  section.s5-services h2 {
    font-weight: 700;
    position: relative;
    margin-bottom: 30px; }
    section.s5-services h2:after {
      position: absolute;
      left: 0;
      bottom: -10px; }
  section.s5-services div.left {
    width: 25%; }
    section.s5-services div.left div.title {
      position: relative; }
      section.s5-services div.left div.title .border-logo {
        position: absolute;
        height: 35px;
        width: 35px;
        top: 0;
        left: -50px;
        z-index: 1; }
        section.s5-services div.left div.title .border-logo:before {
          content: '';
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 100%;
          height: 5px;
          background: white;
          z-index: 0; }
        section.s5-services div.left div.title .border-logo img {
          position: relative;
          z-index: 1; }
    section.s5-services div.left div.subtitle {
      margin-bottom: 60px; }
      section.s5-services div.left div.subtitle p {
        line-height: 1.5em; }
  section.s5-services div.right {
    width: 60%; }
    section.s5-services div.right h2 {
      margin-bottom: 70px; }
    section.s5-services div.right div.faqs_container {
      margin-bottom: 60px; }
      section.s5-services div.right div.faqs_container ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        section.s5-services div.right div.faqs_container ul li {
          padding-bottom: 25px;
          border-bottom: solid #717171 1px; }
      section.s5-services div.right div.faqs_container div.answer {
        display: none; }
