* {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

html {
    &.no-scroll {
        overflow: hidden;
    }
}

body {
    overflow-x: hidden;
    font-family: "Gotham A", "Gotham B";
    color: #505050;

    &.no-scroll {
        overflow: hidden;
    }
}


.clear {
    clear: both;
}

.img-cover {
    position: relative;
    padding-bottom: 30%;
}

img {
    max-width: 100%;

    &.cover {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
}

.default-page {
    padding:60px 0;
}