h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
}

p {
	font-family: "Tisa Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #717171;
}

.b {
	&130 {
		font-size: 130px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;
		line-height: 0.9;

		@include respond(1700) {
			font-size: 100px;
		}

		@include respond(1500) {
			font-size: 85px;
		}

		@include respond(640) {
			font-size: 75px;
		}

		@include respond(400) {
			font-size: 65px;
		}

	}

	&75 {
		font-size: 75px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;

		@include respond(1500) {
			font-size: 60px;
		}

		@include respond(1200) {
			font-size: 55px;
		}

		@include respond(992) {
			font-size: 50px;
		}

		@include respond(640) {
			font-size: 45px;
		}

		@include respond(500) {
			font-size: 28px;
		}
	}

	&35 {
		font-size: 35px;
		position: relative;
		padding-bottom: 15px;
		font-weight: 700;

		@include respond(1500) {
			font-size: 30px;
		}

		@include respond(992) {
			font-size: 26px;
		}

		@include respond(500) {
			font-size: 25px;
		}
	}

	&28 {
		font-size: 28px;
		font-weight: 700;
		margin: 0;

		@include respond(1500) {
			font-size: 26px;
		}

		@include respond(500) {
			font-size: 20px;
		}

	}

	&20 {
		font-size: 20px;

		@include respond(400) {
			font-size: 18px;
		}
	}

	&18 {
		font-size: 18px;
		font-weight: 700;
		margin: 0;
	}
}

.r {
	&130 {
		font-size: 130px;
		text-transform: uppercase;
		margin: 0;
		line-height: 0.9;

		@include respond(1700) {
			font-size: 100px;
		}

		@include respond(1500) {
			font-size: 85px;
		}

		@include respond(640) {
			font-size: 75px;
		}
	}


	&75 {
		font-size: 75px;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0;

		@include respond(1500) {
			font-size: 60px;
		}

		@include respond(1200) {
			font-size: 55px;
		}

		@include respond(992) {
			font-size: 50px;
		}

		@include respond(640) {
			font-size: 45px;
		}

		@include respond(500) {
			font-size: 28px;
		}
	}


	&35 {
		font-size: 35px;
		margin: 0;

		@include respond(1500) {
			font-size: 30px;
		}

		@include respond(992) {
			font-size: 26px;
		}

		@include respond(500) {
			font-size: 25px;
		}
	}


	&28 {
		font-size: 28px;
		font-weight: 400;
		margin: 0;

		@include respond(1500) {
			font-size: 26px;
		}

		@include respond(500) {
			font-size: 20px;
		}
	}

	&20 {
		font-size: 20px;

		@include respond(400) {
			font-size: 18px;
		}
	}


	&18 {
		font-size: 18px;
		font-weight: 400;
		margin: 0;
	}
}