// GLOBAL PADDING;
.gpad {
	padding-left: 13%;
	padding-right: 13%;

	@include respond(2000) {
		padding-left: 7%;
		padding-right: 7%;
	}

	@include respond(1200) {
		padding-left: 5%;
		padding-right: 5%;
	}
}


.-uline {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		background: #d2451e;
		height: 5px;
		width: 76px;
		bottom: -30px;
		left: 0;
	}
}