* {
  margin: 0;
  padding: 0;
  line-height: 1.4; }

html.no-scroll {
  overflow: hidden; }

body {
  overflow-x: hidden;
  font-family: "Gotham A", "Gotham B";
  color: #505050; }
  body.no-scroll {
    overflow: hidden; }

.clear {
  clear: both; }

.img-cover {
  position: relative;
  padding-bottom: 30%; }

img {
  max-width: 100%; }
  img.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    top: 0;
    left: 0; }

@-webkit-keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100; } }

@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100; } }

h1,
h2,
h3 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none !important; }

p {
  font-family: "Tisa Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #717171; }

.b130 {
  font-size: 130px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  line-height: 0.9; }
  @media (max-width: 106.25em) {
    .b130 {
      font-size: 100px; } }
  @media (max-width: 93.75em) {
    .b130 {
      font-size: 85px; } }
  @media (max-width: 40em) {
    .b130 {
      font-size: 75px; } }
  @media (max-width: 25em) {
    .b130 {
      font-size: 65px; } }

.b75 {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0; }
  @media (max-width: 93.75em) {
    .b75 {
      font-size: 60px; } }
  @media (max-width: 75em) {
    .b75 {
      font-size: 55px; } }
  @media (max-width: 62em) {
    .b75 {
      font-size: 50px; } }
  @media (max-width: 40em) {
    .b75 {
      font-size: 45px; } }
  @media (max-width: 31.25em) {
    .b75 {
      font-size: 28px; } }

.b35 {
  font-size: 35px;
  position: relative;
  padding-bottom: 15px;
  font-weight: 700; }
  @media (max-width: 93.75em) {
    .b35 {
      font-size: 30px; } }
  @media (max-width: 62em) {
    .b35 {
      font-size: 26px; } }
  @media (max-width: 31.25em) {
    .b35 {
      font-size: 25px; } }

.b28 {
  font-size: 28px;
  font-weight: 700;
  margin: 0; }
  @media (max-width: 93.75em) {
    .b28 {
      font-size: 26px; } }
  @media (max-width: 31.25em) {
    .b28 {
      font-size: 20px; } }

.b20 {
  font-size: 20px; }
  @media (max-width: 25em) {
    .b20 {
      font-size: 18px; } }

.b18 {
  font-size: 18px;
  font-weight: 700;
  margin: 0; }

.r130 {
  font-size: 130px;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.9; }
  @media (max-width: 106.25em) {
    .r130 {
      font-size: 100px; } }
  @media (max-width: 93.75em) {
    .r130 {
      font-size: 85px; } }
  @media (max-width: 40em) {
    .r130 {
      font-size: 75px; } }

.r75 {
  font-size: 75px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0; }
  @media (max-width: 93.75em) {
    .r75 {
      font-size: 60px; } }
  @media (max-width: 75em) {
    .r75 {
      font-size: 55px; } }
  @media (max-width: 62em) {
    .r75 {
      font-size: 50px; } }
  @media (max-width: 40em) {
    .r75 {
      font-size: 45px; } }
  @media (max-width: 31.25em) {
    .r75 {
      font-size: 28px; } }

.r35 {
  font-size: 35px;
  margin: 0; }
  @media (max-width: 93.75em) {
    .r35 {
      font-size: 30px; } }
  @media (max-width: 62em) {
    .r35 {
      font-size: 26px; } }
  @media (max-width: 31.25em) {
    .r35 {
      font-size: 25px; } }

.r28 {
  font-size: 28px;
  font-weight: 400;
  margin: 0; }
  @media (max-width: 93.75em) {
    .r28 {
      font-size: 26px; } }
  @media (max-width: 31.25em) {
    .r28 {
      font-size: 20px; } }

.r20 {
  font-size: 20px; }
  @media (max-width: 25em) {
    .r20 {
      font-size: 18px; } }

.r18 {
  font-size: 18px;
  font-weight: 400;
  margin: 0; }

.gpad {
  padding-left: 7%;
  padding-right: 7%; }
  @media (min-width: 125em) {
    .gpad {
      padding-left: 13%;
      padding-right: 13%; } }
  @media (max-width: 75em) {
    .gpad {
      padding-left: 5%;
      padding-right: 5%; } }

.-uline {
  position: relative; }
  .-uline:after {
    content: "";
    position: absolute;
    background: #d2451e;
    height: 5px;
    width: 76px;
    bottom: -30px;
    left: 0; }

.header__promo {
  background: #fcfcfc;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: right; }
  @media (max-width: 62em) {
    .header__promo {
      display: none; } }

.header__promo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px; }
  .header__promo-link:before {
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    font-size: 10px;
    margin-right: 10px; }

.header__promo-text {
  font-size: 15px; }

.header__container {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 62em) {
    .header__container {
      position: relative;
      z-index: 11;
      background: white;
      padding-bottom: 30px; }
      .header__container::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: white;
        z-index: 10; } }
  @media (max-width: 40em) {
    .header__container {
      padding-bottom: 0; } }

.header__logo {
  width: 100%;
  max-width: 330px; }
  @media (max-width: 93.75em) {
    .header__logo {
      max-width: 250px; } }
  @media (max-width: 75em) {
    .header__logo {
      max-width: 190px; } }
  @media (max-width: 62em) {
    .header__logo {
      z-index: 11;
      max-width: 300px; } }
  @media (max-width: 31.25em) {
    .header__logo {
      max-width: 200px; } }

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__links.active {
    top: 0;
    overflow-y: scroll; }
  .header__links .outline-button {
    font-family: "Gotham A", "Gotham B" !important; }
  @media (max-width: 93.75em) {
    .header__links .outline-button {
      padding: 10px; } }
  @media (max-width: 75em) {
    .header__links {
      margin-left: auto; } }
  @media (max-width: 62em) {
    .header__links {
      position: absolute;
      top: -1900px;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #fcfcfc;
      z-index: 9;
      -webkit-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s;
      padding: 150px 10% 110px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset; }
      .header__links .outline-button {
        text-align: center; } }
  @media (max-width: 40em) {
    .header__links {
      padding-top: 120px; } }

.header .outline-button {
  margin-left: 30px;
  font-size: 16px; }
  @media (max-width: 62em) {
    .header .outline-button {
      margin-left: 0;
      margin-top: 30px; } }

@media (max-width: 75em) {
  .header__navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 10px; } }

@media (max-width: 62em) {
  .header__navigation {
    margin: 0; } }

.header__navigation .menu {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 62em) {
    .header__navigation .menu {
      margin-bottom: 60px; } }
  @media (max-width: 40em) {
    .header__navigation .menu {
      margin-bottom: 30px; } }
  .header__navigation .menu .menu-item {
    display: inline;
    font-family: "Tisa Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
    position: relative;
    color: #505050;
    margin: 0 25px; }
    .header__navigation .menu .menu-item:before {
      content: '';
      position: absolute;
      width: 0%;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s;
      background: #d2451e;
      bottom: 0;
      left: 50%;
      height: 2px;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); }
    .header__navigation .menu .menu-item:hover:before {
      width: 100%; }
    @media (max-width: 106.25em) {
      .header__navigation .menu .menu-item {
        margin: 0 15px; } }
    @media (max-width: 93.75em) {
      .header__navigation .menu .menu-item {
        margin: 0 7px; } }
    @media (max-width: 75em) {
      .header__navigation .menu .menu-item {
        margin: 0 5px; } }
    @media (max-width: 62em) {
      .header__navigation .menu .menu-item {
        display: block;
        margin: 0; }
        .header__navigation .menu .menu-item:not(:last-child) {
          margin-bottom: 10px; }
        .header__navigation .menu .menu-item:before {
          content: unset; } }
    .header__navigation .menu .menu-item a:link, .header__navigation .menu .menu-item a:visited {
      color: #505050;
      -webkit-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s;
      font-family: "Gotham A", "Gotham B"; }
    .header__navigation .menu .menu-item a:hover {
      color: #d2451e; }
    @media (max-width: 62em) {
      .header__navigation .menu .menu-item a {
        font-size: 40px; } }
    @media (max-width: 31.25em) {
      .header__navigation .menu .menu-item a {
        font-size: 25px; } }

.header__hamburger {
  border: none;
  background: none;
  display: none; }
  .header__hamburger:before, .header__hamburger:after {
    display: block;
    background: #d2451e;
    width: 40px;
    content: '';
    height: 6px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
  .header__hamburger.active:before, .header__hamburger.active:after {
    opacity: 0; }
  @media (max-width: 62em) {
    .header__hamburger {
      display: block;
      position: relative;
      z-index: 11; } }

.header__hamburger-bar {
  width: 40px;
  background: #d2451e;
  height: 6px;
  margin: 8px 0;
  display: block;
  position: relative;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s; }
  .header__hamburger-bar:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    background: #d2451e; }

@media (max-width: 62em) {
  .header__hamburger.active .header__hamburger-bar {
    height: 4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    .header__hamburger.active .header__hamburger-bar:before {
      height: 4px;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); } }

.footer {
  background: #fcfcfc !important;
  border-top: solid #f4f4f4 9px;
  padding: 0 !important; }
  .footer__content {
    padding-top: 75px;
    padding-bottom: 50px;
    padding-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 62em) {
      .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0; } }
  .footer__logo-box {
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__logo-box__superscript {
      margin-bottom: 30px; }
      @media (max-width: 40em) {
        .footer__logo-box__superscript {
          margin-bottom: 10px;
          text-align: left; } }
    @media (max-width: 62em) {
      .footer__logo-box {
        margin-bottom: 60px; }
        .footer__logo-box p {
          text-align: center; } }
    @media (max-width: 40em) {
      .footer__logo-box {
        margin-right: 0; } }
  @media (max-width: 62em) {
    .footer .left {
      width: unset;
      margin-right: 30px; } }
  @media (max-width: 31.25em) {
    .footer .left {
      width: 100%;
      margin-right: unset; } }
  .footer .left .superscript {
    margin-bottom: 35px; }
  .footer .left .logo {
    width: 335px;
    display: block; }
    @media (max-width: 75em) {
      .footer .left .logo {
        width: 300px; } }
    @media (max-width: 40em) {
      .footer .left .logo {
        width: 100%; } }
  .footer .outline-button {
    font-size: 16px;
    margin-left: 30px; }
  .footer__navigation {
    margin-right: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    align-self: flex-end; }
    @media (max-width: 75em) {
      .footer__navigation {
        margin-right: 60px; } }
    @media (max-width: 62em) {
      .footer__navigation {
        margin-bottom: 3rem;
        margin-right: 0;
        -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset; } }
    @media (max-width: 31.25em) {
      .footer__navigation {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 30px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
  .footer__menu:not(:last-child) {
    margin-right: 60px; }
  @media (max-width: 40em) {
    .footer__menu:not(:last-child) {
      margin-right: 35px; } }
  @media (max-width: 31.25em) {
    .footer__menu {
      margin-bottom: 30px; }
      .footer__menu:not(:last-child) {
        margin-right: 10px; } }
  .footer__menu-title {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700; }
    @media (max-width: 40em) {
      .footer__menu-title {
        margin-bottom: 10px; } }
  .footer__link-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .footer__list-item:not(:last-child) {
    margin-bottom: 15px; }
  .footer__link:link, .footer__link:visited {
    color: #505050;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
  .footer__link:hover {
    color: #d2451e;
    border-bottom: solid 1px #d2451e; }
  @media (max-width: 62em) {
    .footer__social {
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
      transform: translateY(50%); } }
  .footer__social .c-social-links__item {
    display: block;
    margin-right: 0; }
    @media (max-width: 62em) {
      .footer__social .c-social-links__item {
        display: inline-block; }
        .footer__social .c-social-links__item:not(:last-child) {
          margin-right: 16px; } }
  .footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background: url(../images/pattern.png) repeat, #0069a7;
    background-size: 300px 300px; }
    .footer__copyright p {
      color: inherit;
      font-size: inherit; }
    @media (max-width: 62em) {
      .footer__copyright {
        padding-top: 60px; } }
    @media (max-width: 40em) {
      .footer__copyright p {
        font-size: 14px; } }
    @media (max-width: 31.25em) {
      .footer__copyright {
        display: block; }
        .footer__copyright p {
          text-align: center;
          font-size: 18px; }
          .footer__copyright p:first-child {
            margin-bottom: 5px; } }

a {
  text-decoration: none;
  color: #505050; }
  a.outline-button {
    padding: 20px 40px;
    background: white;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    display: inline-block;
    font-size: 20px; }
    @media (max-width: 93.75em) {
      a.outline-button {
        padding: 20px; } }
    @media (max-width: 75em) {
      a.outline-button {
        font-size: 16px; } }
    a.outline-button.-orange {
      border: solid 2px #d2451e;
      color: #d2451e; }
    a.outline-button:hover.-orange {
      color: white;
      background: #d2451e; }
  a.solid-button {
    padding: 40px 40px;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
    display: inline-block;
    font-size: 20px; }
    @media (max-width: 75em) {
      a.solid-button {
        font-size: 16px; } }
    a.solid-button.-blue {
      background: url(../images/pattern.png) repeat, #0069a7;
      background-size: 300px 300px;
      color: white; }
    a.solid-button:hover.-blue {
      color: white;
      background: url(../images/pattern.png) repeat, #004974;
      background-size: 300px 300px; }

.outline-button {
  background: white;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  display: inline-block;
  font-size: 20px; }
  .outline-button.-blue {
    background: transparent;
    border: solid 1px white; }
    .outline-button.-blue input {
      background-color: transparent;
      padding: 0 40px;
      color: white;
      border: none; }

.chart {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 75em) {
    .chart {
      width: 50%;
      margin-bottom: 30px; } }
  @media (max-width: 40em) {
    .chart {
      display: block; } }
  .chart__graph {
    position: relative;
    margin-right: 20px; }
    @media (max-width: 93.75em) {
      .chart__graph {
        margin-right: 10px; } }
    @media (max-width: 48em) {
      .chart__graph {
        margin-right: 10px; } }
    @media (max-width: 40em) {
      .chart__graph {
        text-align: center; } }
  .chart__svg {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
    @media (max-width: 106.25em) {
      .chart__svg {
        width: 145px;
        height: 145px; } }
    @media (max-width: 93.75em) {
      .chart__svg {
        width: 115px;
        height: 115px; } }
    @media (max-width: 31.25em) {
      .chart__svg {
        width: 100px;
        height: 100px; } }
  .chart__circle-tag {
    -webkit-animation-name: circle-chart-fill;
    animation-name: circle-chart-fill;
    animation-direction: reverse;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: rotate(-90deg) scale(1, -1);
    -ms-transform: rotate(-90deg) scale(1, -1);
    transform: rotate(-90deg) scale(1, -1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }
  .chart__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .chart__icon:before {
      font-size: 70px;
      color: #c6c6c6; }
      @media (max-width: 93.75em) {
        .chart__icon:before {
          font-size: 40px; } }
      @media (max-width: 31.25em) {
        .chart__icon:before {
          font-size: 50px; } }
  @media (max-width: 48em) {
    .chart__text {
      text-align: center; } }

.facts-slider {
  border: solid #cdcdcd 1px;
  padding: 100px 64px 100px 84px;
  position: relative; }
  @media (max-width: 93.75em) {
    .facts-slider {
      padding: 80px 40px; } }
  @media (max-width: 40em) {
    .facts-slider {
      padding: 40px; } }
  @media (max-width: 31.25em) {
    .facts-slider {
      padding: 80px 30px 160px; } }
  .facts-slider__logo {
    position: absolute;
    height: 35px;
    width: 35px;
    top: -17px;
    left: 100px;
    z-index: 1; }
    @media (max-width: 40em) {
      .facts-slider__logo {
        left: 30px; } }
  .facts-slider__header {
    margin-bottom: 60px; }
  .facts-slider__nav-buttons {
    position: absolute;
    right: 96px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 100px; }
    @media (max-width: 93.75em) {
      .facts-slider__nav-buttons {
        position: unset;
        margin-bottom: 30px; } }
    @media (max-width: 62em) {
      .facts-slider__nav-buttons {
        position: absolute;
        margin-bottom: 0;
        top: 80px; } }
    @media (max-width: 40em) {
      .facts-slider__nav-buttons {
        top: 30px;
        right: 30px; } }
    @media (max-width: 31.25em) {
      .facts-slider__nav-buttons {
        top: unset;
        bottom: 40px;
        right: unset;
        left: 30px; } }
  .facts-slider__nav-button {
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: solid 1px #d2451e;
    margin: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .facts-slider__nav-button:before {
      margin: auto;
      color: #d2451e;
      font-size: 20px;
      -webkit-transition: all ease .3s;
      -o-transition: all ease .3s;
      transition: all ease .3s; }
    .facts-slider__nav-button:first-child:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .facts-slider__nav-button:hover {
      background: #d2451e; }
      .facts-slider__nav-button:hover:before {
        color: white; }
  .facts-slider__slide h3 {
    margin-bottom: 30px; }
  .facts-slider__slide p {
    line-height: 1.7; }

.c-faq-section__header {
  font-weight: 700;
  margin-bottom: 70px; }
  .c-faq-section__header:after {
    bottom: 0; }
  @media (max-width: 40em) {
    .c-faq-section__header {
      margin-bottom: 30px; } }

.c-faq-section__container {
  margin-bottom: 60px; }

.c-faq-section__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.c-faq-section__question {
  padding-bottom: 25px;
  border-bottom: solid 1px #cdcdcd;
  margin-bottom: 45px;
  cursor: pointer; }

.c-faq-section__question-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700; }
  .c-faq-section__question-title:before {
    font-size: 18px;
    margin-left: auto;
    padding-left: 30px; }

.c-faq-section__question-answer {
  display: none;
  margin-top: 20px; }

@media (max-width: 40em) {
  .c-faq-section__btn-container .outline-button {
    width: 100%;
    text-align: center; } }

.c-have-question {
  position: relative; }
  .c-have-question__header {
    margin-bottom: 70px; }
    .c-have-question__header:after {
      bottom: 0; }
    @media (max-width: 62em) {
      .c-have-question__header {
        margin-left: 40px; } }
    @media (max-width: 40em) {
      .c-have-question__header {
        margin-bottom: 50px;
        margin-left: 30px; } }
    @media (max-width: 25em) {
      .c-have-question__header {
        margin-left: 25px; } }
  .c-have-question__logo {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 0;
    left: -50px;
    z-index: 1; }
    @media (max-width: 62em) {
      .c-have-question__logo {
        left: 0; } }
    @media (max-width: 40em) {
      .c-have-question__logo {
        height: 22px;
        width: 22px; } }
  .c-have-question__subtitle {
    margin-bottom: 60px;
    max-width: 370px; }
    .c-have-question__subtitle a {
      font-weight: 700; }
    @media (max-width: 40em) {
      .c-have-question__subtitle {
        margin-left: 30px;
        margin-bottom: 40px; } }
    @media (max-width: 25em) {
      .c-have-question__subtitle {
        margin-left: 20px; } }
  @media (max-width: 40em) {
    .c-have-question__btn-container .outline-button {
      width: 100%;
      text-align: center; } }

.heading-with-circle {
  position: relative;
  padding-left: 75px; }
  @media (max-width: 62em) {
    .heading-with-circle {
      padding-left: 64px; } }
  @media (max-width: 40em) {
    .heading-with-circle {
      padding-left: 22px; } }
  .heading-with-circle__heading {
    text-transform: unset; }
    .heading-with-circle__heading span {
      display: block;
      font-weight: 700; }
  .heading-with-circle__heading-subtext {
    font-size: 28px; }
    @media (max-width: 31.25em) {
      .heading-with-circle__heading-subtext {
        margin-top: 15px;
        font-size: 22px; } }
  .heading-with-circle__circle-container {
    position: absolute;
    top: -70px;
    left: 0;
    z-index: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
    @media (max-width: 62em) {
      .heading-with-circle__circle-container {
        top: -60px; } }
    @media (max-width: 40em) {
      .heading-with-circle__circle-container {
        left: -30px;
        top: -40px; } }
    @media (max-width: 31.25em) {
      .heading-with-circle__circle-container {
        left: -20px; } }
  .heading-with-circle__svg {
    height: 145px;
    width: 145px; }
    @media (max-width: 62em) {
      .heading-with-circle__svg {
        height: 115px;
        width: 115px; } }
    @media (max-width: 40em) {
      .heading-with-circle__svg {
        width: 85px;
        height: 85px; } }
    @media (max-width: 31.25em) {
      .heading-with-circle__svg {
        width: 65px;
        height: 65px; } }
  .heading-with-circle__circle {
    stroke-dasharray: 0 100; }
    .heading-with-circle__circle.animate {
      -webkit-stroke-dasharray: 75 100;
      -webkit-animation: circle-chart-fill 1s linear reverse forwards;
      stroke-dasharray: 75 100;
      animation: circle-chart-fill 1s linear reverse forwards; }

.logo-text-btn-block__logo {
  text-align: center;
  margin-bottom: 15px; }
  .logo-text-btn-block__logo img {
    display: inline-block; }

.logo-text-btn-block__heading {
  text-align: center;
  margin-bottom: 60px; }
  .logo-text-btn-block__heading:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.logo-text-btn-block__text {
  margin: 0 auto 60px;
  text-align: center;
  max-width: 800px; }
  .logo-text-btn-block__text a {
    font-weight: 700; }

.logo-text-btn-block__btn-container {
  text-align: center; }
  @media (max-width: 31.25em) {
    .logo-text-btn-block__btn-container .outline-button {
      width: 100%; } }

.c-news-update__header {
  margin-bottom: 70px; }

.c-news-update__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px; }

.c-news-update__list-item {
  border-bottom: solid 1px #cdcdcd;
  padding-bottom: 20px;
  position: relative;
  max-width: 1370px;
  margin-bottom: 25px; }

.c-news-update__item-date {
  margin-bottom: 15px; }

.c-news-update__item-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  font-weight: 700;
  font-size: 18px !important; }
  .c-news-update__item-title:before {
    margin-left: auto;
    margin-right: 30px;
    font-size: 18px; }

.c-news-update__list-item:hover .c-news-update__item-title {
  color: #d2451e; }

.photo-row-1x2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 40em) {
    .photo-row-1x2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .photo-row-1x2__photo {
    width: 50%; }
    @media (max-width: 40em) {
      .photo-row-1x2__photo {
        width: 100%; } }
  .photo-row-1x2__image-container {
    position: relative;
    padding-bottom: 58%; }

.c-social-links {
  list-style: none; }
  .c-social-links__item {
    display: inline-block;
    margin-right: 16px; }
  .c-social-links__link {
    width: 40px;
    height: 40px;
    background: #d2451e;
    border-radius: 100%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s; }
    .c-social-links__link:before {
      color: white;
      margin: auto;
      font-size: 18px; }
    .c-social-links__link:hover {
      background: #ff6b00; }

main.home {
  font-family: "Gotham A", "Gotham B"; }

section.s1-home {
  padding-top: 90px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 75em) {
    section.s1-home {
      padding-top: 30px; } }
  @media (max-width: 62em) {
    section.s1-home {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0; } }
  @media (max-width: 40em) {
    section.s1-home {
      padding-top: 45px; } }
  @media (max-width: 75em) {
    section.s1-home .left {
      margin-right: 30px; } }
  @media (max-width: 62em) {
    section.s1-home .left {
      width: 100%;
      padding: 0 30px;
      margin-right: 0;
      margin-bottom: 60px; } }
  section.s1-home .left h1 {
    margin-bottom: 15px; }
  section.s1-home .left p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    section.s1-home .left p:before {
      font-family: 'MidSouth';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\004c';
      border-radius: 100%;
      display: inline-block;
      margin-right: 5px;
      font-size: inherit;
      color: #ff6b00; }
    @media (max-width: 31.25em) {
      section.s1-home .left p {
        font-size: 22px; } }
  section.s1-home .right {
    width: 60%; }
    @media (max-width: 93.75em) {
      section.s1-home .right {
        width: 60%; } }
    @media (max-width: 62em) {
      section.s1-home .right {
        width: 100%; } }
    section.s1-home .right img {
      width: 100%;
      height: auto; }

section.s2-home {
  padding-top: 60px;
  padding-bottom: 60px;
  background: url(../images/pattern.png) repeat, #0069a7;
  background-size: 300px 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff; }
  @media (max-width: 106.25em) {
    section.s2-home {
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  section.s2-home .left {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 350px; }
    @media (max-width: 106.25em) {
      section.s2-home .left {
        width: 100%;
        max-width: 330px; } }
    section.s2-home .left p {
      color: white; }
      section.s2-home .left p span {
        font-weight: 700;
        display: block; }
  section.s2-home .right {
    width: 70%;
    max-width: 1213px; }
    @media (max-width: 106.25em) {
      section.s2-home .right {
        width: 100%; } }
    @media (max-width: 106.25em) {
      section.s2-home .right form {
        margin: 0 -10px; } }
    section.s2-home .right .section {
      padding: unset; }
      section.s2-home .right .section .custom-container {
        width: unset;
        max-width: 100%;
        padding: unset;
        margin: unset; }
        section.s2-home .right .section .custom-container .columns {
          margin: unset;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; }
          section.s2-home .right .section .custom-container .columns .column.is-5 {
            -webkit-box-flex: unset;
            -ms-flex: unset;
            flex: unset; }
          section.s2-home .right .section .custom-container .columns .column.is-1 {
            width: 100%;
            padding: .75rem 0;
            padding-bottom: 0; }
            section.s2-home .right .section .custom-container .columns .column.is-1 input {
              width: 100%; }
          section.s2-home .right .section .custom-container .columns input,
          section.s2-home .right .section .custom-container .columns select {
            border-radius: 0;
            -webkit-appearance: none;
            border: 1px solid #e0e0e0;
            font-size: 15px;
            padding: 25px 20px;
            color: #707070; }
          section.s2-home .right .section .custom-container .columns span.select {
            height: unset; }
            section.s2-home .right .section .custom-container .columns span.select select {
              padding: unset;
              height: 52px;
              padding: 0 20px; }
          section.s2-home .right .section .custom-container .columns input[type=submit] {
            background-color: unset !important;
            color: #fff;
            font-weight: 700;
            padding: unset;
            height: 52px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center; }
          section.s2-home .right .section .custom-container .columns label {
            font-size: 15px;
            color: white; }
        section.s2-home .right .section .custom-container .custom-form {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end; }
          @media (max-width: 62em) {
            section.s2-home .right .section .custom-container .custom-form {
              display: block; } }
          section.s2-home .right .section .custom-container .custom-form .custom-address,
          section.s2-home .right .section .custom-container .custom-form .custom-type {
            width: 370px;
            padding: 0 10px; }
            @media (max-width: 62em) {
              section.s2-home .right .section .custom-container .custom-form .custom-address,
              section.s2-home .right .section .custom-container .custom-form .custom-type {
                padding: 10px 0;
                width: 100%; } }
            section.s2-home .right .section .custom-container .custom-form .custom-address label,
            section.s2-home .right .section .custom-container .custom-form .custom-type label {
              color: white !important; }
          section.s2-home .right .section .custom-container .custom-form .custom-unit,
          section.s2-home .right .section .custom-container .custom-form .custom-zip {
            width: 150px;
            padding: 0 10px; }
            @media (max-width: 62em) {
              section.s2-home .right .section .custom-container .custom-form .custom-unit,
              section.s2-home .right .section .custom-container .custom-form .custom-zip {
                padding: 10px 0;
                width: 100%; } }
          @media (max-width: 62em) {
            section.s2-home .right .section .custom-container .custom-form .custom-button {
              margin-top: 10px; } }
          @media (max-width: 31.25em) {
            section.s2-home .right .section .custom-container .custom-form .custom-button {
              width: 100%;
              text-align: center; } }

section.s3-home {
  padding-top: 200px;
  padding-bottom: 200px; }
  @media (max-width: 40em) {
    section.s3-home {
      padding-top: 60px;
      padding-bottom: 100px; } }
  section.s3-home .s3-header {
    margin-bottom: 60px;
    max-width: 920px; }
    @media (max-width: 93.75em) {
      section.s3-home .s3-header {
        max-width: 700px; } }
    @media (max-width: 40em) {
      section.s3-home .s3-header {
        margin-bottom: 100px; } }
  section.s3-home .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    margin-bottom: 270px; }
    @media (max-width: 62em) {
      section.s3-home .services {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0; } }
    @media (max-width: 40em) {
      section.s3-home .services {
        margin-bottom: 140px; } }
    section.s3-home .services .service {
      width: 33.3333%;
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      @media (max-width: 62em) {
        section.s3-home .services .service {
          width: 100%;
          padding: 0;
          margin-bottom: 60px; } }
      section.s3-home .services .service .img-cover {
        padding-bottom: 62%;
        margin-bottom: 25px; }
      section.s3-home .services .service h3 {
        margin-bottom: 15px; }
      section.s3-home .services .service p {
        margin-bottom: 50px; }
      section.s3-home .services .service .bottom {
        margin-top: auto; }
        @media (max-width: 62em) {
          section.s3-home .services .service .bottom {
            text-align: center; } }
        section.s3-home .services .service .bottom .outline-button {
          display: inline-block; }
          @media (max-width: 93.75em) {
            section.s3-home .services .service .bottom .outline-button {
              text-align: center;
              width: 100%; } }
          @media (max-width: 62em) {
            section.s3-home .services .service .bottom .outline-button {
              width: unset; } }
          @media (max-width: 31.25em) {
            section.s3-home .services .service .bottom .outline-button {
              width: 100%; } }
  section.s3-home .packages-and-bundles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 200px; }
    @media (max-width: 62em) {
      section.s3-home .packages-and-bundles {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
        margin-bottom: 100px; } }
    section.s3-home .packages-and-bundles h2 {
      text-transform: unset;
      margin-bottom: 30px; }
      section.s3-home .packages-and-bundles h2 span {
        display: block; }
        section.s3-home .packages-and-bundles h2 span:last-child {
          font-weight: 700; }
    section.s3-home .packages-and-bundles p {
      max-width: 500px; }
      @media (max-width: 62em) {
        section.s3-home .packages-and-bundles p {
          max-width: unset; } }
    section.s3-home .packages-and-bundles .left {
      margin-right: 200px;
      position: relative; }
      @media (max-width: 106.25em) {
        section.s3-home .packages-and-bundles .left {
          margin-right: 50px; } }
      @media (max-width: 62em) {
        section.s3-home .packages-and-bundles .left {
          margin-bottom: 60px;
          margin-right: 0; } }
      @media (max-width: 40em) {
        section.s3-home .packages-and-bundles .left {
          margin-right: 0; } }
      section.s3-home .packages-and-bundles .left h2 {
        position: relative;
        z-index: 1; }
    section.s3-home .packages-and-bundles .right {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      @media (max-width: 62em) {
        section.s3-home .packages-and-bundles .right {
          padding-left: 20px; } }
  section.s3-home .checklist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 75em) {
      section.s3-home .checklist {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    section.s3-home .checklist .left {
      width: 56%; }
      @media (max-width: 106.25em) {
        section.s3-home .checklist .left {
          width: 50%; } }
      @media (max-width: 75em) {
        section.s3-home .checklist .left {
          width: 100%; } }
      section.s3-home .checklist .left .img-cover {
        padding-bottom: 59%; }
      section.s3-home .checklist .left .button-container {
        text-align: right; }
        @media (max-width: 75em) {
          section.s3-home .checklist .left .button-container {
            display: none; } }
    section.s3-home .checklist .right {
      background: #fcfcfc;
      padding: 135px 64px;
      margin-top: 75px; }
      @media (max-width: 106.25em) {
        section.s3-home .checklist .right {
          padding-left: 60px;
          padding-right: 60px; } }
      @media (max-width: 75em) {
        section.s3-home .checklist .right {
          margin: 0;
          padding: 60px; } }
      @media (max-width: 40em) {
        section.s3-home .checklist .right {
          padding: 60px 17px; } }
      section.s3-home .checklist .right ul li {
        font-size: 28px;
        margin-bottom: 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        section.s3-home .checklist .right ul li:last-child {
          margin-bottom: 0; }
        section.s3-home .checklist .right ul li:before {
          font-family: 'MidSouth';
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\004c';
          border-radius: 100%;
          display: inline-block;
          margin-right: 16px;
          font-size: inherit;
          color: #ff6b00;
          padding: 4px; }
          @media (max-width: 40em) {
            section.s3-home .checklist .right ul li:before {
              position: absolute;
              left: 0;
              top: 2px; } }
          @media (max-width: 31.25em) {
            section.s3-home .checklist .right ul li:before {
              margin-right: 5px; } }
        @media (max-width: 93.75em) {
          section.s3-home .checklist .right ul li {
            font-size: 20px; } }
        @media (max-width: 40em) {
          section.s3-home .checklist .right ul li {
            font-size: 18px;
            position: relative;
            padding-left: 40px; } }
        @media (max-width: 31.25em) {
          section.s3-home .checklist .right ul li {
            font-size: 18px;
            padding-left: 30px; } }
  section.s3-home .mobile {
    display: none; }
    @media (max-width: 75em) {
      section.s3-home .mobile {
        display: block;
        text-align: center;
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px); } }
    @media (max-width: 31.25em) {
      section.s3-home .mobile {
        -webkit-transform: unset;
        -ms-transform: unset;
        transform: unset; } }
    @media (max-width: 31.25em) {
      section.s3-home .mobile .solid-button {
        width: 100%;
        padding: 40px 10px; } }

section.s4-home {
  background: #fcfcfc;
  padding-top: 140px;
  padding-bottom: 140px;
  border-top: solid 9px #f4f4f4;
  border-bottom: solid 9px #f4f4f4; }
  @media (max-width: 40em) {
    section.s4-home {
      padding-top: 100px;
      padding-bottom: 80px; } }
  section.s4-home .-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px; }
    @media (max-width: 48em) {
      section.s4-home .-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    section.s4-home .-content .left {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      position: relative; }
      @media (max-width: 93.75em) {
        section.s4-home .-content .left {
          margin-right: 60px; } }
      @media (max-width: 48em) {
        section.s4-home .-content .left {
          width: 100%;
          margin-bottom: 30px; } }
      section.s4-home .-content .left h2 {
        max-width: 387px;
        margin-bottom: 30px;
        line-height: 1;
        text-transform: unset; }
        section.s4-home .-content .left h2 span {
          display: block;
          line-height: 1; }
          section.s4-home .-content .left h2 span:last-child {
            font-weight: 700; }
    section.s4-home .-content .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 106.25em) {
        section.s4-home .-content .right {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      @media (max-width: 48em) {
        section.s4-home .-content .right {
          width: 100%;
          padding-left: 20px; } }
      section.s4-home .-content .right p {
        max-width: 536px;
        margin-right: 85px; }
        @media (max-width: 106.25em) {
          section.s4-home .-content .right p {
            margin-bottom: 30px; } }
        @media (max-width: 93.75em) {
          section.s4-home .-content .right p {
            margin-right: 0; } }
      @media (max-width: 31.25em) {
        section.s4-home .-content .right a {
          display: none; } }
    section.s4-home .-content .button-container {
      display: none; }
      @media (max-width: 31.25em) {
        section.s4-home .-content .button-container {
          width: 100%;
          display: block; } }
  section.s4-home .photo-row-1x2 {
    margin-bottom: 140px; }
    @media (max-width: 40em) {
      section.s4-home .photo-row-1x2 {
        margin-bottom: 50px; } }
  section.s4-home .compare h2 {
    max-width: 574px;
    margin-bottom: 100px; }
    @media (max-width: 93.75em) {
      section.s4-home .compare h2 {
        max-width: 420px; } }
    @media (max-width: 40em) {
      section.s4-home .compare h2 {
        margin-bottom: 60px; } }
    @media (max-width: 31.25em) {
      section.s4-home .compare h2 {
        max-width: 300px; } }
  section.s4-home .compare .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px; }
    @media (max-width: 75em) {
      section.s4-home .compare .options {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 31.25em) {
      section.s4-home .compare .options {
        margin-bottom: 50px; } }
    section.s4-home .compare .options p {
      font-weight: 600; }
      section.s4-home .compare .options p.options-list-header {
        margin-bottom: 15px; }
    section.s4-home .compare .options ul {
      margin: 0 -7px; }
      @media (max-width: 93.75em) {
        section.s4-home .compare .options ul {
          margin: 0; } }
      @media (max-width: 40em) {
        section.s4-home .compare .options ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin: 0 -3px; } }
      section.s4-home .compare .options ul li {
        display: inline-block;
        margin: 0 7px;
        padding: 20px 40px;
        border: solid 2px #c6c6c6;
        color: #c6c6c6;
        min-width: 230px;
        font-size: 35px;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        text-align: center;
        cursor: pointer; }
        section.s4-home .compare .options ul li span {
          font-size: 16px;
          font-weight: 600;
          margin-left: 5px; }
        section.s4-home .compare .options ul li.active {
          color: #d2451e;
          border: solid 2px #d2451e; }
        @media (max-width: 93.75em) {
          section.s4-home .compare .options ul li {
            text-align: center;
            min-width: 175px;
            padding: 10px;
            margin: 0; } }
    section.s4-home .compare .options .left {
      margin-right: 70px; }
      @media (max-width: 93.75em) {
        section.s4-home .compare .options .left {
          margin-right: auto; } }
      @media (max-width: 75em) {
        section.s4-home .compare .options .left {
          margin-bottom: 60px; } }
      @media (max-width: 31.25em) {
        section.s4-home .compare .options .left {
          margin-right: 0;
          margin-bottom: 30px; } }
      @media (max-width: 40em) {
        section.s4-home .compare .options .left ul li {
          display: block;
          width: 50%;
          margin: 0 3px;
          font-size: 25px; } }
      @media (max-width: 31.25em) {
        section.s4-home .compare .options .left ul li {
          min-width: unset; } }
    @media (max-width: 40em) {
      section.s4-home .compare .options .right ul li {
        display: block;
        min-width: unset;
        width: 33.3333%;
        margin: 0 3px;
        font-size: 25px; } }
  section.s4-home .compare .charts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 93.75em) {
      section.s4-home .compare .charts {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

section.s5-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 62em) {
    section.s5-home {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 40em) {
    section.s5-home {
      padding-top: 100px;
      padding-bottom: 100px; } }
  section.s5-home .c-news-update,
  section.s5-home .right {
    width: 45%; }
    @media (max-width: 62em) {
      section.s5-home .c-news-update,
      section.s5-home .right {
        width: 100%; } }
  @media (max-width: 62em) {
    section.s5-home .c-news-update {
      margin-bottom: 80px; } }
  section.s5-home .right .social {
    margin-top: 70px;
    padding-left: 85px; }
    @media (max-width: 62em) {
      section.s5-home .right .social {
        padding-left: 0; } }
    section.s5-home .right .social .c-social-links__item:not(:last-child) {
      margin-right: 16px; }

main.faq .gpad12 {
  padding-left: 12%;
  padding-right: 12%; }
  @media (max-width: 31.25em) {
    main.faq .gpad12 {
      padding-left: 7.5%;
      padding-right: 7.5%; } }

main.faq section.s1-faq {
  padding-top: 160px;
  padding-bottom: 150px; }
  @media (max-width: 62em) {
    main.faq section.s1-faq {
      padding-top: 120px; } }
  @media (max-width: 31.25em) {
    main.faq section.s1-faq {
      padding-top: 90px;
      padding-bottom: 90px; } }

main.faq section.s2-faq {
  padding-bottom: 140px; }
  main.faq section.s2-faq ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    main.faq section.s2-faq ul li {
      margin-bottom: 40px;
      cursor: pointer; }
      main.faq section.s2-faq ul li p.title {
        border-bottom: solid #717171 1px;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s;
        position: relative; }
        main.faq section.s2-faq ul li p.title:before {
          position: absolute;
          right: 10px;
          top: 50%;
          font-size: 20px;
          -webkit-transform: translateY(-50%) rotate(90deg);
          -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
          -webkit-transition: all ease .3s;
          -o-transition: all ease .3s;
          transition: all ease .3s; }
        main.faq section.s2-faq ul li p.title.active {
          color: #0069A7;
          border-bottom: none; }
          main.faq section.s2-faq ul li p.title.active:before {
            -webkit-transform: translateY(-50%) rotate(90deg) scale(-1, 1);
            -ms-transform: translateY(-50%) rotate(90deg) scale(-1, 1);
            transform: translateY(-50%) rotate(90deg) scale(-1, 1); }
        @media (max-width: 62em) {
          main.faq section.s2-faq ul li p.title {
            padding-bottom: 15px;
            padding-right: 30px; } }
        @media (max-width: 31.25em) {
          main.faq section.s2-faq ul li p.title {
            padding-right: 50px; } }
      main.faq section.s2-faq ul li .answer {
        padding-top: 40px;
        width: 90%;
        display: none; }
        @media (max-width: 48em) {
          main.faq section.s2-faq ul li .answer {
            width: 100%; } }
      main.faq section.s2-faq ul li:hover p.title {
        color: #0069A7; }

main.faq section.s3-faq {
  padding-bottom: 185px; }

main.post {
  padding-top: 77px;
  padding-bottom: 144px; }
  main.post section.back {
    padding: 0 5%; }
    @media (max-width: 75em) {
      main.post section.back {
        padding-bottom: 100px; } }
    main.post section.back a {
      color: #d2451e;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 1; }
      main.post section.back a:before {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-right: 10px; }
  main.post section.post {
    padding: 0 17%;
    padding-top: 75px; }
    @media (max-width: 75em) {
      main.post section.post {
        padding: 0 10%; } }
    @media (max-width: 48em) {
      main.post section.post {
        padding: 0 60px; } }
    @media (max-width: 31.25em) {
      main.post section.post {
        padding: 0 30px; } }
    main.post section.post .heading-with-circle {
      padding-left: 0; }
      @media (max-width: 62em) {
        main.post section.post .heading-with-circle {
          padding-left: 40px; } }
      @media (max-width: 40em) {
        main.post section.post .heading-with-circle {
          padding-left: 0px; } }
      main.post section.post .heading-with-circle__heading {
        text-transform: unset; }
        @media (max-width: 40em) {
          main.post section.post .heading-with-circle__heading {
            font-size: 40px; } }
      main.post section.post .heading-with-circle__circle-container {
        left: -70px; }
        @media (max-width: 62em) {
          main.post section.post .heading-with-circle__circle-container {
            left: -30px; } }
        @media (max-width: 40em) {
          main.post section.post .heading-with-circle__circle-container {
            left: -45px; } }
        @media (max-width: 31.25em) {
          main.post section.post .heading-with-circle__circle-container {
            left: -33px; } }
    main.post section.post .the-date:after {
      bottom: -70px; }
      @media (max-width: 62em) {
        main.post section.post .the-date:after {
          left: 40px; } }
      @media (max-width: 40em) {
        main.post section.post .the-date:after {
          left: 0px; } }
    @media (max-width: 62em) {
      main.post section.post .the-date {
        padding-left: 40px; } }
    @media (max-width: 40em) {
      main.post section.post .the-date {
        padding-left: 0; } }
    main.post section.post .content {
      margin-top: 130px;
      padding-bottom: 80px;
      border-bottom: solid #717171 1px; }
      main.post section.post .content p {
        line-height: 2; }
    main.post section.post .post-nav {
      padding-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      main.post section.post .post-nav a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 1;
        color: #d2451e;
        -webkit-transition: all ease .3s;
        -o-transition: all ease .3s;
        transition: all ease .3s; }
        main.post section.post .post-nav a.prev-post:before {
          -webkit-transform-origin: center;
          -ms-transform-origin: center;
          transform-origin: center;
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg);
          margin-right: 10px; }
        main.post section.post .post-nav a.next-post {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
          margin-left: auto; }
          main.post section.post .post-nav a.next-post:before {
            margin-left: 10px; }
        main.post section.post .post-nav a:hover {
          color: #a53618; }

main.blog {
  padding-top: 140px;
  padding-bottom: 166px; }
  @media (max-width: 62em) {
    main.blog {
      padding-top: 100px;
      padding-bottom: 100px; } }
  main.blog.gpad12 {
    padding-left: 12%;
    padding-right: 12%; }
    @media (max-width: 62em) {
      main.blog.gpad12 {
        padding-left: 5%;
        padding-right: 5%; } }
    @media (max-width: 48em) {
      main.blog.gpad12 {
        padding-left: 30px;
        padding-right: 30px; } }
  main.blog section.s1-blog {
    padding-bottom: 150px; }
  main.blog section.s2-blog {
    padding-bottom: 155px; }
    @media (max-width: 62em) {
      main.blog section.s2-blog {
        padding-bottom: 100px; } }
    main.blog section.s2-blog ul {
      list-style: none; }
    main.blog section.s2-blog .button-container {
      text-align: center; }
      main.blog section.s2-blog .button-container a {
        cursor: pointer; }
  main.blog section.s3-blog .logo,
  main.blog section.s3-blog h2,
  main.blog section.s3-blog .button-container {
    text-align: center; }
  main.blog section.s3-blog .logo {
    margin-bottom: 15px; }
  main.blog section.s3-blog h2 {
    margin-bottom: 65px; }
    main.blog section.s3-blog h2:after {
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%); }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  section.s1-home .left p {
    display: block !important; }
  section.s4-home .compare {
    display: none; }
  section.s3-services div.bottom div.feature {
    display: block !important; }
  section.s3-services div.bottom div.feature div.bottom-section div.description {
    min-height: 200px; }
  section.s5-services div.right div.faqs_container ul li {
    position: relative; }
  section.s5-services div.right div.faqs_container ul li .faq-title {
    display: block !important; }
    section.s5-services div.right div.faqs_container ul li .faq-title:before {
      position: absolute;
      right: 10px;
      bottom: 10px; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1700px) {
  section.s2-home {
    display: block; }
  section.s2-home .right .section {
    padding: 0; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 992px) {
  section.s1-home {
    display: block; }
  section.s2-home {
    background: #0069a7; }
  section.s2-home .right .section .custom-container .custom-form {
    display: block; }
  section.s3-home .packages-and-bundles .left {
    width: 100%; }
  section.s4-home .-content {
    display: block; }
    section.s4-home .-content .right {
      padding-left: 20px; }
  section.s4-home {
    padding-bottom: 0; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 500px) {
  header .header-navigation .logo {
    width: 250px; }
  header .header-navigation {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important; }
  section.s3-home .checklist .right ul li {
    display: block; }
  section.s5-home .right .facts .nav-buttons {
    top: auto;
    right: auto; }
  main.services section.s3-services div.bottom div.feature {
    min-height: 900px !important; } }

section.s1-services {
  padding-top: 90px;
  padding-bottom: 90px; }
  @media (max-width: 31.25em) {
    section.s1-services {
      padding-left: 0;
      padding-right: 0;
      padding-top: 60px; } }
  section.s1-services div.top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px; }
    @media (max-width: 75em) {
      section.s1-services div.top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 31.25em) {
      section.s1-services div.top {
        padding-left: 20px;
        padding-right: 20px;
        margin: 0; } }
    section.s1-services div.top div.left {
      width: 50%;
      font-weight: unset; }
      @media (max-width: 75em) {
        section.s1-services div.top div.left {
          width: 100%;
          margin-bottom: 30px; } }
      section.s1-services div.top div.left h1 span {
        display: block; }
      @media (max-width: 48em) {
        section.s1-services div.top div.left h1 {
          font-size: 60px; } }
      @media (max-width: 31.25em) {
        section.s1-services div.top div.left h1 {
          font-size: 46px; } }
    section.s1-services div.top div.right {
      width: 35%; }
      @media (max-width: 106.25em) {
        section.s1-services div.top div.right {
          width: 40%; } }
      @media (max-width: 75em) {
        section.s1-services div.top div.right {
          width: 100%; } }
      @media (max-width: 31.25em) {
        section.s1-services div.top div.right {
          margin-bottom: 40px; } }
  section.s1-services div.bottom div.img-cover {
    padding-bottom: 44%; }
    @media (max-width: 31.25em) {
      section.s1-services div.bottom div.img-cover {
        padding-bottom: 55%; } }

section.s2-services {
  padding-top: 190px; }
  @media (max-width: 106.25em) {
    section.s2-services {
      padding-top: 150px; } }
  @media (max-width: 31.25em) {
    section.s2-services {
      padding-top: 30px; } }
  section.s2-services div.top {
    margin-bottom: 65px;
    position: relative; }
    @media (max-width: 31.25em) {
      section.s2-services div.top {
        margin-bottom: 30px; } }
    @media (max-width: 25em) {
      section.s2-services div.top .heading-with-circle__heading {
        font-size: 25px; } }
  section.s2-services div.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 3.5%; }
    @media (max-width: 62em) {
      section.s2-services div.bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (max-width: 31.25em) {
      section.s2-services div.bottom {
        padding: 0; } }
    section.s2-services div.bottom div.left {
      width: 65%; }
      @media (max-width: 106.25em) {
        section.s2-services div.bottom div.left {
          width: 65%; } }
      @media (max-width: 93.75em) {
        section.s2-services div.bottom div.left {
          width: 50%; } }
      @media (max-width: 62em) {
        section.s2-services div.bottom div.left {
          width: 100%;
          margin-bottom: 30px; } }
      section.s2-services div.bottom div.left div.img-cover {
        padding-bottom: 59%; }
        @media (max-width: 106.25em) {
          section.s2-services div.bottom div.left div.img-cover {
            padding-bottom: 80%; } }
        @media (max-width: 93.75em) {
          section.s2-services div.bottom div.left div.img-cover {
            padding-bottom: 104%; } }
        @media (max-width: 62em) {
          section.s2-services div.bottom div.left div.img-cover {
            padding-bottom: 59%; } }
    section.s2-services div.bottom div.right {
      width: 25%; }
      @media (max-width: 106.25em) {
        section.s2-services div.bottom div.right {
          width: 30%; } }
      @media (max-width: 93.75em) {
        section.s2-services div.bottom div.right {
          width: 40%; } }
      @media (max-width: 62em) {
        section.s2-services div.bottom div.right {
          width: 100%; } }
      section.s2-services div.bottom div.right div.feature {
        margin-bottom: 60px; }
        @media (max-width: 62em) {
          section.s2-services div.bottom div.right div.feature {
            margin-left: 60px; } }
        @media (max-width: 40em) {
          section.s2-services div.bottom div.right div.feature {
            margin-left: 35px; } }
        @media (max-width: 31.25em) {
          section.s2-services div.bottom div.right div.feature {
            margin-left: 0; } }
        section.s2-services div.bottom div.right div.feature:last-child {
          margin-bottom: none; }
        section.s2-services div.bottom div.right div.feature h3 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          @media (max-width: 31.25em) {
            section.s2-services div.bottom div.right div.feature h3 {
              font-size: 20px;
              margin-left: 35px; } }
          section.s2-services div.bottom div.right div.feature h3:before {
            font-family: 'MidSouth';
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            border: solid 2px #ff6b00;
            content: '\0042';
            border-radius: 100%;
            width: 26px;
            height: 26px;
            display: inline-block;
            font-size: 11px;
            font-weight: 700;
            color: #ff6b00;
            padding: 6px;
            position: absolute;
            left: -10%; }
            @media (max-width: 31.25em) {
              section.s2-services div.bottom div.right div.feature h3:before {
                left: -35px; } }

section.s3-services {
  padding-top: 190px;
  padding-bottom: 90px; }
  @media (max-width: 106.25em) {
    section.s3-services {
      padding-top: 150px; } }
  @media (max-width: 31.25em) {
    section.s3-services {
      padding: 150px 20px 90px; } }
  section.s3-services div.top {
    margin-bottom: 65px;
    position: relative; }
    @media (max-width: 25em) {
      section.s3-services div.top .heading-with-circle__heading {
        font-size: 25px; } }
  section.s3-services div.bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media (max-width: 48em) {
      section.s3-services div.bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    section.s3-services div.bottom div.feature {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-height: 750px;
      padding: 2.5% 5%;
      border: 1px solid rgba(113, 113, 113, 0.35);
      margin-right: 15px; }
      section.s3-services div.bottom div.feature:last-child {
        margin-right: 0; }
      @media (max-width: 106.25em) {
        section.s3-services div.bottom div.feature {
          padding: 2.5%; } }
      @media (max-width: 48em) {
        section.s3-services div.bottom div.feature {
          margin: 0 0 15px;
          padding: 10% 15%;
          min-height: 700px; } }
      @media (max-width: 40em) {
        section.s3-services div.bottom div.feature {
          padding: 10% 5%; } }
      @media (max-width: 31.25em) {
        section.s3-services div.bottom div.feature {
          min-height: unset; } }
      section.s3-services div.bottom div.feature div.top-section h3.b35u {
        margin-bottom: 60px;
        font-weight: 700;
        text-align: center; }
        section.s3-services div.bottom div.feature div.top-section h3.b35u:after {
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
      section.s3-services div.bottom div.feature div.top-section p.r20 {
        color: #505050;
        text-align: center; }
      section.s3-services div.bottom div.feature div.top-section div.price {
        text-align: center; }
        section.s3-services div.bottom div.feature div.top-section div.price p.b75 {
          text-transform: none;
          color: #505050; }
      section.s3-services div.bottom div.feature div.top-section div.gray_line {
        content: "";
        background: rgba(113, 113, 113, 0.35);
        height: 1px;
        width: 100%;
        margin: 60px 0 30px 0; }
      section.s3-services div.bottom div.feature div.bottom-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        section.s3-services div.bottom div.feature div.bottom-section div.description {
          padding-left: 5%; }
          section.s3-services div.bottom div.feature div.bottom-section div.description p {
            position: relative; }
            section.s3-services div.bottom div.feature div.bottom-section div.description p:before {
              content: "";
              background: #ff6b00;
              height: 4px;
              width: 4px;
              border-radius: 100%;
              position: absolute;
              left: -10px;
              top: 7px; }
        section.s3-services div.bottom div.feature div.bottom-section a.outline-button {
          margin-top: auto;
          width: 100%;
          text-align: center; }
          @media (max-width: 31.25em) {
            section.s3-services div.bottom div.feature div.bottom-section a.outline-button {
              padding: 20px 1%;
              margin-top: 30px; } }

section.s4-services {
  padding: 140px 0; }
  @media (max-width: 31.25em) {
    section.s4-services {
      padding-top: 0; } }

section.s5-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 140px;
  padding: 0 13% 140px; }
  @media (max-width: 75em) {
    section.s5-services {
      padding: 0 7% 140px; } }
  @media (max-width: 62em) {
    section.s5-services {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 40em) {
    section.s5-services {
      padding: 0 30px 140px; } }
  section.s5-services .c-have-question {
    width: 26%;
    margin-right: 30px; }
    @media (max-width: 106.25em) {
      section.s5-services .c-have-question {
        width: 35%; } }
    @media (max-width: 93.75em) {
      section.s5-services .c-have-question {
        width: 40%; } }
    @media (max-width: 62em) {
      section.s5-services .c-have-question {
        width: 100%;
        margin-bottom: 90px; } }
  section.s5-services .c-faq-section {
    width: 60%; }
    @media (max-width: 62em) {
      section.s5-services .c-faq-section {
        width: 100%; } }

section.s1-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 7%;
  background: #fff;
  z-index: 5; }
  @media (max-width: 62em) {
    section.s1-contact {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 120px 60px; } }
  @media (max-width: 40em) {
    section.s1-contact {
      padding: 120px 30px; } }
  section.s1-contact label {
    font-weight: 700;
    margin-bottom: 15px; }
  section.s1-contact input,
  section.s1-contact textarea {
    padding: 18px;
    border: 2px solid #C6C6C6;
    font-weight: 400;
    margin-top: 5px;
    border-radius: unset; }
  section.s1-contact input[type=submit] {
    background: unset;
    width: 260px;
    text-align: center;
    border: 2px solid #D2451E;
    color: #D2451E;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    section.s1-contact input[type=submit]:hover {
      background: #D2451E;
      color: #fff; }
  section.s1-contact .contact-info {
    position: relative;
    margin-top: 120px;
    margin-left: 75px; }
    @media (max-width: 62em) {
      section.s1-contact .contact-info {
        display: none;
        margin-left: 0px;
        margin-top: 60px; } }
    section.s1-contact .contact-info.mobile {
      display: none; }
      @media (max-width: 62em) {
        section.s1-contact .contact-info.mobile {
          display: block; } }
    section.s1-contact .contact-info p {
      font-weight: 700;
      font-size: 18px;
      color: #707070;
      line-height: 1;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px; }
      section.s1-contact .contact-info p span {
        display: block;
        padding-top: 5px; }
      section.s1-contact .contact-info p:before {
        position: absolute;
        left: 0;
        top: 0; }
      section.s1-contact .contact-info p a {
        color: inherit; }
  @media (max-width: 62em) {
    section.s1-contact .left {
      width: 100%; } }
  @media (max-width: 62em) {
    section.s1-contact .left .text {
      margin-bottom: 60px; } }
  section.s1-contact .left .heading-with-circle__heading-subtext:after {
    bottom: -70px; }
    @media (max-width: 62em) {
      section.s1-contact .left .heading-with-circle__heading-subtext:after {
        bottom: -30px; } }
  section.s1-contact .right {
    width: 32%;
    margin-left: 100px; }
    @media (max-width: 106.25em) {
      section.s1-contact .right {
        width: 40%; } }
    @media (max-width: 93.75em) {
      section.s1-contact .right {
        width: 50%;
        margin-left: 30px; } }
    @media (max-width: 62em) {
      section.s1-contact .right {
        width: 100%;
        margin: 0; } }
    section.s1-contact .right input,
    section.s1-contact .right label,
    section.s1-contact .right textarea {
      width: 100%; }
      section.s1-contact .right input:focus,
      section.s1-contact .right label:focus,
      section.s1-contact .right textarea:focus {
        outline: solid 1px #d2451e; }
    section.s1-contact .right input[type=submit] {
      width: 260px; }
