//INTERNET EXPLORER STYLING;

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
	section.s1-home .left p {
		display: block !important;
	}

	section.s4-home .compare {
		display: none;
	}

	//services template
	section.s3-services div.bottom div.feature {
		display: block !important;
	}

	section.s3-services div.bottom div.feature div.bottom-section div.description {
		min-height: 200px;
	}

	section.s5-services div.right div.faqs_container ul li {
		position: relative;
	}

	section.s5-services div.right div.faqs_container ul li .faq-title {
		display: block !important;

		&:before {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 1700px) {
	section.s2-home {
		display: block;
	}

	section.s2-home .right .section {
		padding: 0;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 1500px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 1200px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 992px) {
	section.s1-home {
		display: block;
	}

	section.s2-home {
		background: #0069a7;
	}

	section.s2-home .right .section .custom-container .custom-form {
		display: block;
	}

	section.s3-home .packages-and-bundles .left {
		width: 100%;
	}

	section.s4-home .-content {
		display: block;

		.right {
			padding-left: 20px;
		}
	}

	section.s4-home {
		padding-bottom: 0;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 768px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 640px) {}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 500px) {
	header .header-navigation .logo {
		width: 250px;
	}

	header .header-navigation {
		justify-content: space-between !important;
	}

	section.s3-home .checklist .right ul li {
		display: block;
	}

	section.s5-home .right .facts .nav-buttons {
		top: auto;
		right: auto;
	}

	//services template
	main.services section.s3-services div.bottom div.feature {
		min-height: 900px !important;
	}
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) and (max-width: 400px) {}